<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>L-Life Premium</title>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/premium/premium_detail.css}"/>
</head>
<body>
    <th:block th:replace="common/fragment/header/header :: headerFragment(0)"></th:block>
    <th:block th:replace="common/fragment/header/sub_header :: subHeaderFragment(0)"></th:block>
    <div class="lf-pr-summary-container hd__inner1100">
        <div class="lf-pr-summary-img-box">
            <img alt="상품 사진 " th:src="${premiumDetail.lfImgMain}"/>
        </div>
        <div class="lf-pr-summary-info">
            <span class="light-gray text-xsm pt-4" th:text="${premiumDetail.lfBrandName}"></span>
            <div class="lf-pr-summary-header">
                <span class="lf-pr-name" th:text="${premiumDetail.lfName}"></span>
                <i class="fa-solid fa-heart fill-heart"></i>
            </div>
            <hr>
            <div class="lf-pr-summary-detail">
                <div class="lf-pr-point d-flex">
                    <span class="lf-pr-point-txt text-sm f-bold"> 월 <span th:text="${premiumDetail.lfPrPrice}"></span>원~ </span>
                </div>
                <div class="lr-pr-etc-info">
                    <i class="fa-regular fa-circle-check"></i>
                    <span><span class="detail-pont" th:text="${premiumDetail.lfPrMinPeriod}">개월 사용 후 구매/반납/연장 할 수 있어요.</span></span>
                </div>
                <div class="lr-pr-etc-info">
                    <i class="fa-regular fa-circle-check"></i>
                    <span class="detail-pont">한 번도 사용되지 않은 새 제품 이에요.</span>
                </div>


                </div>
            </div>

            <div class="lf-pr-options">
                <button class="dropbtn">
                    <span class="dropbtn_content"> [필수] 옵션을 선택하세요. </span>
                    <span class="dropbtn_click"
                          style="font-family: Material Icons; font-size : 16px; color : #3b3b3b; float:right;"
                          onclick="dropdown()">arrow_drop_down</span>
                </button>
<!--                <div class="dropdown-content">-->
<!--                    <div th:each="option : ${options}" th:text="${option.lfOptName}" th:data-option-text="${option.lfOptName}" th:data-lf-opt-id="${option.lfOptId}" onclick="showMenu(this.dataset.optionText)"></div>-->
<!--                </div>-->
            </div>

            <div class="lf-pr-submit-btns">
                <button class="lf-btn-brown text-white"> 장바구니 담기</button>
                <button class="lf-btn-light-brown text-white"> 할인 쿠폰 받기</button>
            </div>
        </div>

    </div>
    <div class="lf-pr-main-content hd__inner1100">
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">상품 정보</li>
            <li class="tab-link" data-tab="tab-2">상품리뷰</li>
            <li class="tab-link" data-tab="tab-3">상품 Q & A</li>
            <li class="tab-link" data-tab="tab-3">배송 정보</li>
        </ul>

        <div id="tab-1" class="tab-content current">
            <div class="tab-pr-maininfo-content">
                <div class="lf-pr-info">

                    <img class="pr-real-img" alt="상품 사진" th:src="@{/img/standard/product_detail_pr_sample1.png}">
                    <img class="pr-real-img" alt="상품 사진" th:src="@{/img/standard/product_detail_pr_sample2.png}">
                    <img class="pr-real-img" alt="상품 사진" th:src="@{/img/standard/product_detail_pr_sample3.png}">
                    <img class="pr-real-img" alt="상품 사진" th:src="@{/img/standard/product_detail_pr_sample4.png}">


                </div>

            </div>

        </div>
        <div id="tab-2" class="tab-content">tab content2</div>
        <div id="tab-3" class="tab-content">tab content3</div>
        <div id="tab-4" class="tab-content">tab content4</div>
    </div>
    <th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>

</body>
</html>