<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>L-Life Premium</title>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/premium/premium_package_main.css}"/>

    <!-- slick 사용을 위함.  -->
    <script
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <script th:src="@{/js/premium/premium_package_main.js}" type="text/javascript"></script>

</head>
<body>
<th:block th:replace="common/fragment/header/header :: headerFragment(0)"></th:block>
<th:block th:replace="common/fragment/header/sub_header :: subHeaderFragment(0)"></th:block>

<div class="sl-top-banner hd__inner1400">
    <div class="top-banner-left">
        <div class="left-content">
            <div class="thumb">
                <img alt="베너 사진1 " th:src="@{/img/premium/package_main_00.png}"/>
                <div class="inner-content">
                    <h4>We Are Premium</h4>
                    <span>프리미엄 가구로 펼치는 아름다운 이야기, 지금 시작하세요!</span>
                    <div class="main-border-button">
                        <a th:href="@{/premium/main}">프리미엄 가구 둘러보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-banner-right">
        <div class="row">
            <div class="col-6">
                <div class="right-first-image">
                    <div class="thumb">
                        <img alt="베너 사진1 " th:src="@{/img/premium/package_main_01.png}"/>
                        <div class="inner-content">
                            <h4>PANINO</h4>
                            <span>이토록 자유로운 소파</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-first-image">
                    <div class="thumb">
                        <img alt="베너 사진1 " th:src="@{/img/premium/package_main_02.png}"/>
                        <div class="inner-content">
                            <h4>MUINE</h4>
                            <span>모듈 가구의 다양성</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-first-image">
                    <div class="thumb">
                        <img alt="베너 사진1 " th:src="@{/img/premium/package_main_03.png}"/>
                        <div class="inner-content">
                            <h4>LIVART MEISTER LAB</h4>
                            <span>꽃잎의 곡선을 닮은 침대</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-first-image">
                    <div class="thumb">
                        <img alt="베너 사진1 " th:src="@{/img/premium/package_main_04.png}"/>
                        <div class="inner-content">
                            <h4>TONELLI</h4>
                            <span>절제된 독창성, 독보적인 기술력</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="premium_pk_container">
    <div class="pr-container-inner">
        <div class="pr-md-pick-list hd__inner1400">
            <div class="pr-md-pick-header">
                <div class="pr-md-pick-header-first">
                    <h1 class="lf-pr-slider-title"> MD's PICK</h1>
                    <a th:href="@{/premium/main}"> 프리미엄 가구 둘러보기 ></a>
                </div>
                <p>프리미엄 구독관에서 놓칠 수 없는 아이템을 모아봤어요. 어떤 공간에도 잘 어울리는 MD's Pick을 제안합니다.</p>

            </div>
            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>

            <div class="lf-pr-slider">
                <div class="lf-pr-slide-wrapper">
                    <a th:href="@{'/premium/package/' + ${package.lfPackageId} + '/detail'}" th:each="package : ${MDPickPackages}">
                        <div class="lf-pr-slide-product-img">
                            <img class="pr-real-img" alt="패키지 사진 "
                                 th:src="@{${package.lfPackageImg}}"/>
                            <div class="img-overlay">
                                <p th:text = "${package.lfPackageName}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="hr-pr"></div>

        <div class="pr-promotion-list hd__inner1400">
            <div class="pr-promotion-header">
                <h1 class="lf-pr-slider-title"> Weekly Promotion </h1>
                <p>모든 공간을 아우를 리바트 라이프 추천 홈 아이템. 50% 혜택으로 매주 새로워지는 우리 집을 만나요.</p>
            </div>
            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>
            <div class="lf-pr-promotion-slider">

                <div class="lf-pr-promotion-slide-wrapper">
                    <div class="lf-pr-slide-product-img" th:each="package : ${PromotionPackages}">
                        <img class="lf-pr-img" alt="패키지 사진 " th:src="@{${package.lfPackageImg}}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr-pr"></div>

        <div class="pr-popular-list hd__inner1400">
            <div class="pr-popular-header">
                <h1 class="lf-pr-slider-title"> Hottest Product </h1>
                <p>선선한 바람과 함께 본격적으로 찾아온 가을, 가장 인기있는 프리미엄 패키지 가구로 공간을 따뜻하게 채워보세요.</p>

            </div>
            <div class="lf-pr-popular-slider">
                <i class="fas fa-chevron-left prev"></i>
                <i class="fas fa-chevron-right next"></i>
                <div class="lf-pr-popular-slide-wrapper">
                    <div class="lf-pr-slide-product-img" th:each="package : ${RecommendationPackages}">
                        <img class="lf-rec-img" alt="패키지 사진 " th:src="@{${package.lfPackageImg}}"/>
                        <p class="pr-pk-name-txt" th:text="${package.lfPackageName}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>

</body>
</html>