<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>L-Life Premium</title>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/premium/premium_main.css}"/>
    <script th:src="@{/js/premium/pr_product_filter_sidebar.js}" type="text/javascript"></script>

</head>
<body>
<th:block th:replace="common/fragment/header/header :: headerFragment(0)"></th:block>
<th:block th:replace="common/fragment/header/sub_header :: subHeaderFragment(0)"></th:block>
<th:block th:replace="common/fragment/header/sub_cate_header :: subCateHeaderFragment(1)"></th:block>

<!--<div class="sl-top-banner">-->
<!--    <img alt="베너 사진1 " th:src="@{/img/premium/list_top_banner.png}"/>-->
<!--</div>-->

<div class="sl-top-banner">
    <!--<video muted autoplay loop>
        <source th:src="@{/img/premium/리바트_영상.mp4}" type="video/mp4">
    </video>-->
    <img th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/pr_main_3.jpeg}" />
/    <!--<div class="pr-banner-title">프리미엄 가구로 펼치는 <br>아름다운 이야기,<br> 지금 시작하세요!</div>
    <img th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/strds.jpeg}" />-->
</div>

<div class="pl-main-content">
    <th:block th:replace="pages/premium/pr_product_filter_sidebar :: prProductFilterSidebar()"></th:block>
    <div class="pl-main-products">
        <div class="pl-main-sub">
            <form th:action="@{/premium/search}" method="get">
                <div class="pl-search-box">
                    <input type="text" name="keyword" placeholder="상품명으로 검색">
                    <button type="submit" class="search-button">
                        <img src="https://img-resource.s3.ap-northeast-2.amazonaws.com/search-small.png" alt="검색">
                    </button>
                </div>
            </form>

            <span class="pl-main-sub-products-txt"> <span class="txt-pink" th:text="${totalNum}"> </span> 개의 상품이 있습니다. </span>
            <ul>
                <li> 추천순</li>
                <li> 신상품순</li>
                <li> 낮은금액순</li>
                <li> 높은금액순</li>
                <li> 평점높은순</li>
            </ul>
            <div class="pl-main-sub-products">
                <div class="pl-main-sub-product" th:each="product : ${premiumProducts}">
                    <a th:href="@{'/premium/' + ${product.lfId} + '/detail'}">
                        <div class="pl-main-sub-product-img col">
                            <img alt="베너 사진1 " th:src="${product.lfImgMain}"/>
                        </div>
                        <div class="pl-main-sub-product-txt">
                            <p class="pl-main-sub-product-name" th:text="${product.lfName}"></p>
                            <hr style="margin: 3px 0px 10px 0px">
                            <div class="d-flex pl-main-sub-product-price">
                                <span th:text="${product.lfBrandName}"></span>
                                <div class="coin-img-box">
                                    월
                                    <span th:text="|${#numbers.formatInteger(product.lfPrPrice, 0, 'COMMA')}원|">15,000원</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div th:replace="common/fragment/pagination/pagination :: paginationFragment"></div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>

</body>
</html>