.subscribe-title {
    font-size: 20px;
    color: #5D493E;
    margin-top: 60px;
}



.subscribe-buttons-wrapper {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    justify-content: flex-end;
}

.custom-button {
    background-color: #5D493E;
    opacity: 50%;
    color: white;
    padding: 5px 20px;
    border: none;
    /*border-radius: 10px;*/
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    text-decoration-line: none;

}


.custom-button:hover {
    background-color: #5D493F;
    opacity: 100%;
    color: white;
    text-decoration-line: none;
}



.product-name {
    color: #333333;
    margin-top: 10px;
    font-weight: bold;

}

.product-price {
    color: #333333;
    font-size: 18px;
    margin-top: 5px;
}


.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
    padding-bottom: 10px;
    margin-top: 10px;
}



.no-subscription-btn{
    background-color: #5D493E;
    opacity: 50%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
    text-decoration-line: none;
}



a.product-link {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    width: 20%;
}


.product-image {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 130px;
}
.product-item{
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 10px;

}
.product-details {
    margin-left: 20px;
    width: 80%;

}

.product-details-first{
    display: flex;
    justify-content: space-between;
}
.product-details-second{

}
.product-details-third{

}
.product-details-option{
    font-size:14px;
}
.brand-name{
    border-bottom:1px solid #5d493c;
}
.txt-orange{
    color: #FF914D;
}