
.modal-header > img{
    width: 80px;
    position: absolute;
    margin: 45px 0px -18px -16px;
    z-index: 1;
}
.modal-content{
    min-height: 500px;
}
.modal-header{
    border : none !important;
}
.modal-title{
    z-index: 100;
    position: absolute;
    margin: 60px 0px 0px 30px;
    color: #5D493E;
    font-size: 25px;
    font-weight: bold;
}
.modal-content{
    margin-top: 100px;
    padding: 25px !important;
    display: flex !important;
    flex-direction: column !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: none;
    background: linear-gradient(0deg, #A89A8C, white 160px);
}
.modal-body{
    margin-top: 33px;
    border-top: 2px solid #5D493E;
    text-align: left;
    padding: 40px 0px 5px 35px;
    color : black;
}
.modal-body > p{
    margin-bottom: 10px;
    color: #666666;
}
.modal-body > p > span{
    color:black;
}
.modal-footer{
    display: flex;
    flex-direction: column !important;
    border:none !important;
    justify-content: center !important;
    margin-top: 15px;
    color: #5d493c;
}
.user-name{
    color: #5d493c;
    font-weight: bold;
    font-size: 17px;
}
.modal-product-list{
    border-top:1px solid #5D493E;
    border-style: dotted;
    margin-top:10px;
    padding : 5px 0px 5px 0px;
}
.modal-product-list > p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-product-card{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-style: dotted;
}
.modal-product-card > img{
    width : 50px;
}
.modal-product-card-txt{
    margin-left: 10px;
    line-height: 20px;
}
.modal-sub-content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-sub-content-header{
    font-size: 20px;
    font-weight: bold;
    color: #5d493e;
    margin-bottom: 10px;
}
.modal-sub-content-subtxt{
    font-size: 12px;
    line-height: 18px;
    color: #5d493e;
}
.modal-btns{
    display: flex;
    width: 100%;
    justify-content: center;
}
.modal-btns > button, .modal-btns > a{
    width: 30%;
    margin: 0px 5px 0px 5px;
}
.modal-btns > button:first-child{
    color: #5d493e;
    background: white;
    border : 1px solid #5d493c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.sub-btn{
    width: 30%;
    color: white;
    background: #5d493e;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.modal-product-option-txt{
    font-size: 15px;
    color: gray;
}
.modal-product-coin{
    margin-left:-10px;
}
.modal-product-coin-box{
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
    font-size: 15px;
}