<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main/main.css}"/>
</head>
<body>


<th:block th:replace="common/fragment/header/header :: headerFragment(0)"></th:block>
<th:block th:replace="common/fragment/header/sub_header :: subHeaderFragment(0)"></th:block>
<!--    <div class="main-top-slide ">-->


<div class="main-content">
    <div class="hero d-flex">

    </div>
    <div class="main-content-info d-flex justify-content-center">
        <div class="main-imgs">
            <img class="main-furniture" id="mf-pink-sofa"
                 src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/main_first_%ED%95%91%ED%81%AC%EC%86%8C%ED%8C%8C.png"/>
            <img class="main-furniture" id="mf-camel-closet"
                 src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/main_first_%EB%82%99%ED%83%80%EC%88%98%EB%82%A9%ED%95%A8.png"/>
            <img class="main-furniture" id="mf-lamp"
                 src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/main_first_%EC%A1%B0%EB%AA%85.png"/>
            <img class="main-furniture" id="mf-table"
                 src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/main_first_%ED%85%8C%EC%9D%B4%EB%B8%94.png"/>
            <img class="main-furniture" id="mf-brown-sofa"
                 src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/main_first_%EB%B8%8C%EB%9D%BC%EC%9A%B4%EC%86%8C%ED%8C%8C.png"/>

            <p class="site-txt">리바트 라이프,<br><span style="color: #FF4800">가구</span>를 맛보다</p>
            <img class="hero__image hero__image--screen" th:src="@{/img/standard/new_main_content_screen.png}">
        </div>


    </div>

    <div class="main-content-info d-flex justify-content-center">
        <p class="site-middle-txt">색다르게 만나는<br>다양한 가구들</p>
        <div class="main-slide">
            <div class="swiper-wrapper">
                <img class="main-furniture-slide swiper-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%ED%99%94%EC%9E%A5%EB%8C%80-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%ED%85%8C%EC%9D%B4%EB%B8%94-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%A1%B0%EB%AA%85-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%8A%A4%ED%88%B4-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%86%8C%ED%8C%8C2-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%B9%A8%EB%8C%80-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%8B%9D%ED%83%81-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%86%8C%ED%8C%8C1-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%8A%A4%ED%83%A0%EB%93%9C-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%98%B7%EC%9E%A5-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%ED%99%94%EC%9E%A5%EB%8C%80-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%ED%85%8C%EC%9D%B4%EB%B8%94-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%A1%B0%EB%AA%85-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%8A%A4%ED%88%B4-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%86%8C%ED%8C%8C2-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%B9%A8%EB%8C%80-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%8B%9D%ED%83%81-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%86%8C%ED%8C%8C1-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%8A%A4%ED%83%A0%EB%93%9C-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%98%B7%EC%9E%A5-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EA%B1%B0%EC%8B%A4%ED%85%8C%EC%9D%B4%EB%B8%94-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EA%B1%B0%EC%8B%A4%EC%9E%A5-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EB%B2%84%EC%84%AF%EC%8A%A4%ED%83%A0%EB%93%9C-modified.png">
                <img class="swiper-slide main-furniture-slide"
                     src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_%EC%8A%AC%EB%9D%BC%EC%9D%B4%EB%93%9C_%EC%95%84%EC%9D%B4%EC%B1%85%EC%83%81-modified.png">
            </div>
        </div>
    </div>
    <div class="main-content-info d-flex justify-content-center">
        <p class="site-middle-txt">전부 경험해 볼 수 있으면<br>좋지 않을까요?</p>
        <p class="site-small-txt"><br>앉은 자리에서 여러 브랜드의 가구를 비교하고<br>
            내게 꼭 맞는 스타일의 가구를 찾아보세요.<br><br>
            소파, 의자, 침대, 인테리어소품 모두 가능해요.</p>
    </div>
    <div class="main-content-info d-flex justify-content-center">
        <p class="site-middle-txt">당신을 기다리는<br>500여 개의 가구</p>
        <p class="site-small-txt"><br>첫 달 무료 구독을 통해<br>
            어떤 가구가 있는지 확인해보세요.<br><br></p>
        <div class="promotion-banner">
            <img class="hero__image hero__image--promotion" th:src="@{/img/standard/new_main_promotion.jpg}"
                 style="width: 100%">
            <a href="/l-life/member/login" class="promotion-button">첫 달 무료로 시작하기</a>
            <div class="promotion-login d-flex align-items-center">
                <span>이미 리바트 라이프 회원이라면? </span>
                <a href="/l-life/member/login">로그인</a>
            </div>
        </div>
    </div>
    <div class="main-content-info d-flex justify-content-center">
        <div class="coin-fall d-flex justify-content-center">
            <img class="hero__image hero__image--coinfall" th:src="@{/img/standard/new_main_coinfall.gif}"
                 style="width: 80%">
            <p class="site-middle-txt">생활 타입에 따라<br>즐기는 내 가구 구독</p>
            <p class="site-small-txt"><br><span style="color: #FF914D">스탠다드</span> 구독으로 다양하게!<br>
                <span style="color: #FF914D">프리미엄</span> 구독으로 합리적이게!<br><br></p>
        </div>
    </div>
    <div class="main-content-square d-flex hd__inner900">
        <p class="site-small-title">스탠다드</p>
        <p class="site-middle-start-txt">우리 집 분위기,<br>한 달마다 색다르게</p>
    </div>
    <div class="main-content-square-end d-flex hd__inner900">
        <p class="site-middle-end-txt">공간은 <span style="color: #666666">새롭게</span></p>
        <p class="site-middle-end-txt">마음은 <span style="color: #BDBDBD">가볍게</span></p>
    </div>
    <div class="main-content-square-info d-flex justify-content-center hd__inner960">
        <img class="square__image square__image--premium" th:src="@{/img/standard/new_main_standard.png}"
             style="width: 100%">
    </div>
    <div class="main-content-square d-flex hd__inner900">
        <p class="site-small-title">프리미엄</p>
        <p class="site-middle-start-txt">새 가구를<br>합리적인 가격으로</p>
    </div>
    <div class="main-content-square-end d-flex hd__inner900">
        <p class="site-middle-end-txt">가구는 <span style="color: #666666">다양하게</span></p>
        <p class="site-middle-end-txt">부담은 <span style="color: #BDBDBD">적게</span></p>
        <p class="site-small-end-txt">사용해보고 원하면 구매해요.</p>
    </div>
    <div class="main-content-square-info d-flex justify-content-center hd__inner960">
        <img class="square__image square__image--premium" th:src="@{/img/standard/new_main_premium.png}"
             style="width: 100%">
    </div>
    <div class="main-content-square d-flex hd__inner900">
        <p class="site-small-title">AR</p>
        <p class="site-middle-start-txt">인기 상품을 내 방에 입혀봐요!</p>
        <div class="main-ar-gif">
            <img class="square__image square__image--ar"
                 src="https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-main/%EB%A9%94%EC%9D%B8_AR.gif">
        </div>
    </div>
    <div class="main-content-square-end d-flex justify-content-space-between hd__inner900">
        <div class="main-ar-txt">
            <p class="site-small-end-txt">구매하기 전까지는 내 공간에</p>
            <p class="site-small-end-txt">배치해 볼 수 없었던 가구를</p>
            <p class="site-small-end-txt">증강현실(AR) 서비스로</p>
            <p class="site-small-end-txt">우리 집에 <span style="color: #FF914D">쉽게</span> 입혀보고</p>
            <p class="site-small-end-txt"><span style="color: #FF914D">가볍게</span> 구독하세요!</p>
        </div>
    </div>
    <div class="main-content-square d-flex hd__inner900">
        <p class="site-small-title">알면 좋은 커뮤니티</p>
        <p class="site-middle-start-txt">이런 서비스도<br>한번 써보세요</p>
    </div>
    <div class="main-content-square-info d-flex justify-content-center hd__inner960">
        <img class="square__image square__image--community" th:src="@{/img/standard/new_main_community.png}">
        <a href="/l-life/subscription" class="start-button">리바트 라이프 시작하기</a>
    </div>


</div>
<th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>
<script>



    let mainSlider = new Swiper('.main-slide', {
        autoplay: {
            delay: 0, //add
            disableOnInteraction: false,
        },
        speed: 5000,
        loop: true,
        loopAdditionalSlides: 1,
        slidesPerView: 9,
    });


    let observer = new IntersectionObserver((e) => {
        e.forEach((box) => {
            if (box.isIntersecting) {
                box.target.style.opacity = 1;
            }
        })
    })
    let pElements = document.querySelectorAll('p')
    pElements.forEach((p) => {
        observer.observe(p);
    });
    let imgElements = document.querySelectorAll('img')
    imgElements.forEach((img) => {
        observer.observe(img);
    })
</script>
</body>
</html>