<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main/main.css}"/>
</head>
<body>
    <div class="main-top-slide ">
        <th:block th:replace="common/fragment/header/header :: headerFragment(1)"></th:block>
        <th:block th:replace="common/fragment/header/sub_header :: subHeaderFragment(1)"></th:block>

    </div>

    <div class="main-content hd__inner1100">
        <div class="main-content-info d-flex justify-content-center">
                <span> Livart Life 는 프리미엄 가구 구독 서비스 !</span>
        </div>
        <div class="main-content-imgbox row row-cols-2">
            <div class="main-content-img col">
                <img alt="메인 사진1 " th:src="@{/img/standard/main_content_img1.png}"/>
            </div>
            <div class="main-content-img col">
                <img alt="메인 사진1 " th:src="@{/img/standard/main_content_img3.png}"/>

            </div>
            <div class="main-content-img col">
                <img alt="메인 사진3 " th:src="@{/img/standard/main_content_img3.png}"/>

            </div>
            <div class="main-content-img col">
                <img alt="메인 사진1 " th:src="@{/img/standard/main_content_img1.png}"/>

            </div>

        </div>

    </div>

    <div class="main-bottom-cards">
        <div class="row row-cols-4 mt-5">
            <div class="col">
                <img alt="메인 사진1 " th:src="@{/img/standard/main_bottom_card1.png}"/>

            </div>
            <div class="col">
                <img alt="메인 사진2 " th:src="@{/img/standard/main_bottom_card2.png}"/>

            </div>
            <div class="col">
                <img alt="메인 사진1 " th:src="@{/img/standard/main_bottom_card3.png}"/>

            </div>
            <div class="col">
                <img alt="메인 사진1 " th:src="@{/img/standard/main_bottom_card4.png}"/>

            </div>

        </div>
    </div>
    <th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>

</body>
</html>