<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerFragment()">
    <header>
        <div class="header-main">
            <div class="header-logo">
                <div class="header-logo-title">
                    <h1>
                        <a href="https://www.hyundailivart.co.kr/index">LIVART</a>
                    </h1>
                </div>
            </div>
            <div class="header-search">
                <form class="header-search-form">
                    <input type="text" placeholder="검색어를 입력해주세요"/>
                </form>
            </div>

            <div class="header-user">
                <li> 로그인 </li>
                <li> 회원가입 </li>
                <li> 고객센터 </li>
            </div>


        </div>
    </header>
</th:block>
</html>