<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mypageSidebarFragment()">
    <link rel="stylesheet" th:href="@{/css/common/mypage_side.css}">

    <div>
        <h2>순두부님</h2>
        <ul class="mypage-menu">
            <li><a href="#">마이페이지</a></li>
            <div class = "hr"></div>
            <li>
                주문정보
                <ul>
                    <li><a href="#">주문/배송 조회</a></li>
                </ul>
            </li>
            <li>
                구독
                <ul>
                    <li><a href="#">스탠다드 구독</a></li>
                    <li><a href="#">프리미엄 구독</a></li>
                </ul>
            </li>
            <li>
                회원정보
                <ul>
                    <li><a href="#">회원정보 수정</a></li>
                </ul>
            </li>
            <li><a href="#">쿠폰/eco마일리지</a></li>
            <li>
                고객센터
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">자주묻는질문</a></li>
                </ul>
            </li>
        </ul>
    </div>
</th:block>
</html>
