.community_write-title{
    font-size: 50px;
    font-weight: bold;
}

.write-header{
    margin-top: 200px;
}

.write-guide-box{
    margin-top: 50px;
    border: solid 1px gray;
    height: auto;
    border-radius: 10px;
}

.write-guide-title{
    margin: 50px;
    display: flex;
}

.write-guide-title-main{
    font-size: 30px;
    font-weight: bold;
}

.write-guide-title-sub{
    margin-left: 20px;
    font-size: 15px;
    color: #9E9E9E;
    display: flex;
    justify-content: center;
    align-items: center;

}



.book {
    transition: opacity 0.4s 0.2s;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

p {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.page {
    width: 400px;
    height: 440px;
    background-color: #111111;
    float: left;
    margin-bottom: 10px;
    background: left top no-repeat;
    background-size: cover;
}

/*.book {*/
/*    perspective: 1000px;*/
/*}*/

.book .pages {
    width: 800px;
    height: 440px;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 4px;
}

.book .page {
    float: none;
    clear: none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 400px;
    height: 440px;
    transform-origin: 0 0;
    transition: transform 1.4s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;
    background-color: #f0f0f0;
}




.book .page:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.7s;
    z-index: 2;
}
.book .page:nth-child(odd) {
    pointer-events: all;
    transform: rotateY(0deg);
    right: 0;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(odd):hover {
    transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
    background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
    background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
    pointer-events: none;
    transform: rotateY(180deg);
    transform-origin: 100% 0;
    left: 0;
    border-radius: 4px 0 0 4px;
    border-color: black;
    background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(even):before {
    background: rgba(0, 0, 0, 0.2);
}
.book .page.grabbing {
    transition: none;
}
.book .page.flipped:nth-child(odd) {
    pointer-events: none;
    transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
    background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
    pointer-events: all;
    transform: rotateY(0deg);
}
.book .page.flipped:nth-child(even):hover {
    transform: rotateY(15deg);
}
.book .page.flipped:nth-child(even):hover:before {
    background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
    background: rgba(0, 0, 0, 0);
}
*,
* :before,
*:after {
    box-sizing: border-box;
}

.page:nth-child(odd){
    background-position: right top;
}










/*
게시글 작성 파트
 */
.write-box{
    margin-top: 50px;
}

.write-container {
    display: flex !important;
    width: 100%;
    /*border: 1px solid #ccc;*/
    /*background-color: #fff;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

.left-container, .right-container {
    flex: 1;
    padding: 20px;
}


.right-container {
    display: flex;
    flex-direction: column;
}

.center-container{
    width: 0px;
}

.input-group {
    margin: 10px;
}

.input-group label {
    font-weight: bold;
}

.input-group input, .input-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input[type="file"] {
    padding: 5px;
}

.input-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.input-ai-image img{
    margin-left: 10px;
    width: 100%;
}

.input-page{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}


.write-box-slider{
    position: relative;
    margin-top: 50px;
    border: solid 1px ;
    border-radius: 10px;
    /*background-color:rgba(0, 0, 0, 0.2);*/
}

.input-btn {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.current-page-num{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
}

.show-prev{
    padding: 20px;
    margin-top: 10px;
    background: white;
    border: 1px solid #5d493c;
    text-align: center;
    color: black;
}

.show-next{
    margin-top: 10px;
    padding: 20px;
    background: #5d493c;
    text-align: center;
    color: white;
}


.write-slide-wrapper{
    display: flex;
}

.button-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.submit-btn{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-bottom: 2px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    background-color: #5D493F;
}

.back-btn{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-bottom: 2px;
    color: #5D493F;
    font-weight: bold;
    font-size: 17px;
    /*background-color: #DAC3A3;*/
    margin-right: 10px;
}

.back-btn a{
    color: #5D493F;
    text-decoration: none;
}

/*.book-guide-img{*/
/*    width: 400px;*/
/*    height: 440px;*/
/*}*/



/* 이미지 업로드*/
.upload-box {
    width: calc(100% - 15px);
    box-sizing: border-box;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-box .drag-file {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
}
.upload-box .drag-file.highlight {
    border: 3px dashed red;
}
.upload-box .drag-file .ex-image {
    width: 40px;
}

.upload-box .drag-file .message {
    margin-bottom: 0;
    margin-top: 10px;
}
.dr-image{
    width: 90%;
    height: 75%;
}
.cm-report-photo-section{
    display: flex;
}
.cm-report-photo-section-right{
    width: 50%;
}
.imgUploadLabel{
    margin-top: 10px;
    padding: 20px;
    background: #FF914D;
    width: 100%;
    opacity: 80%;
    height: 56px;
    text-align: center;
    color: white;
}

.Ai-Img-btn{
    margin-top: 10px;
    background: #7ED957;
    opacity: 80%;
    border: none;
    text-align: center;
    height: 56px;
    width: 95%;
    color: white;
}

.imgBtn-box{
    padding: 0px 20px 0px 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-ai-image-img{
    display: inline-block;
    content: "";
}



/* 로딩 css*/
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background: white;
    z-index: 99;
    text-align: center;
}

#loading>img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    width: 30%;
    transform: translate(-50%, -50%);
}



select{
    width: 47.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-size: 10% 10%;
}

.ai-box {
    width: calc(100% - 15px);
    box-sizing: border-box;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ai-box .input-ai-image {
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
}
.ai-box .input-ai-image.highlight {
    border: 3px dashed red;
}
.ai-box .input-ai-image .input-ai-image-img {
    width: 40px;
}

.ai-box .input-ai-image .message {
    margin-bottom: 0;
    margin-top: 10px;
}
