.community_main {
    margin-top: 200px;
}

.first-title {
    color: #5D493E;
    font-size: 24px;
    margin-bottom: 15px;
}

.second-title {
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 10px;
    color: #333333;
}

.third-title {
    font-size: 20px;
    color: #f65c60;
}

.community-top-banner {
    width: 100%;
    height: 350px;
    position: relative;
    background-color: #FFFBF0;
}

.community-main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-make-button {
    position: absolute;
    top: 160px;
    background-color: #5d493e;
    color: #ffffff;
    padding: 10px  40px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 17px;
}

.community-img {
    position: absolute;
    top: 0px;
    right: 250px;
    height: 100%;
}

/* 리바티스트 부분 */
.livatist-main-title {
    margin-top: 80px;
    margin-bottom: 10px;
}

.first-livatist {
    color: #f65c60;
    font-size: 24px;
    margin-right: 5px;
}

.second-livatist {
    color: #5D493E;
    font-size: 33px;
}

.third-livatist {
    color: #333333;
    font-size: 26px;
    margin-right: 5px;
}

.livatist-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.livatist {
    width: 170px;
    height: 170px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
}

/* 메가진 부분 */
.styling-main-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.first-styling {
    font-size: 24px;
    color: #5D493E;
    margin-right: 10px;
}

.second-styling {
    font-size: 47px;
    color: #f65c60;
    margin-right: 10px;
}

.styling-main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}

.image-box {
    position: relative;
}

.book-image {
    width: 300px;
    height: 350px;
    max-width: 100%;
}

/* 자동 슬라이드 부분 */
#slider {
    overflow:hidden;
    position:relative;
    border:20px solid red;
    width:1440px;
height:200px;
}

.image-box {
    width:5280px;
    position: relative;
    height:100%;
    display:flex;
    flex-wrap:nowrap;
    animation: bannermove 5s linear infinite;
}

/*@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}*/

/* 북 부분 */
.book {
    transition: opacity 0.4s 0.2s;
    perspective: 3750px; /* 250vw = 3750px (assuming 1vw = 15px) */
    display: flex;
    justify-content: center;
}

p{
    margin-top: 120px; /* 8vw = 120px */
    text-align: center;
    font-size: 50px; /* 5vw = 75px */
    color: #000000;
}
.page {
    width: 450px; /* 30vw = 450px */
    height: 660px; /* 44vw = 660px */
    background-color: #111111;
    float: left;
    margin-bottom: 0.5em;
    background: left top no-repeat;
    background-size: cover;
}
.page:nth-child(even) {
    clear: both;
}

.book .pages {
    width: 900px; /* 60vw = 900px */
    height: 660px; /* 44vw = 660px */
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 4px;
    /*box-shadow: 0 0 0 1px #e3dfd8;*/
}
.book .page {
    float: none;
    clear: none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 450px; /* 30vw = 450px */
    height: 660px; /* 44vw = 660px */
    transform-origin: 0 0;
    transition: transform 1.4s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;
    background-color: #f8f8f8;
}
.book .page:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.7s;
    z-index: 2;
}
.book .page:nth-child(odd) {
    pointer-events: all;
    transform: rotateY(0deg);
    right: 0;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(odd):hover {
    transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
    background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
    background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
    pointer-events: none;
    transform: rotateY(180deg);
    transform-origin: 100% 0;
    left: 0;
    border-radius: 4px 0 0 4px;
    border-color: black;
    background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(even):before {
    background: rgba(0, 0, 0, 0.2);
}
.book .page.grabbing {
    transition: none;
}
.book .page.flipped:nth-child(odd) {
    pointer-events: none;
    transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
    background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
    pointer-events: all;
    transform: rotateY(0deg);
}
.book .page.flipped:nth-child(even):hover {
    transform: rotateY(15deg);
}
.book .page.flipped:nth-child(even):hover:before {
    background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
    background: rgba(0, 0, 0, 0);
}
*,
* :before,
*:after {
    box-sizing: border-box;
}

.page:nth-child(odd){
    background-position: right top;
}


.book-main {
    display: flex;
    align-items: flex-end;
}

.characters {
    display: flex;
    align-items: flex-end;
}

.character-1 {
    transform: scaleX(-1);
    width: auto;
    height: auto;
    max-width: 100%;
}

.character-2 {
    width: 200px;
    height: 300px;
    margin-left: -50px;
    margin-right: 50px;
}

.character-3 {
    transform: scaleX(-1);
    width: 90px;
    height: 100px;
    position: fixed;
    top: -75px;
    left: 810px;
    z-index: 9999;
}

.book-main-title {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    color: #5d493e;
    font-weight: bold;
    padding-right: 10px;
    line-height: 40px;

}

.book-main-subtitle {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    color: #333333;
    padding-right: 10px;
    margin-top: 20px;
    line-height: 33px;
}

/* 1 페이지 스타일 */
.page1-img{
    width: 450px;
    height: 660px;
}

.page1-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.page-title {
    margin: 40px 0px;
    font-size: 22px;
    color: #5d493e;
}

.page-ai-img {
    width: 350px;
    height: 350px;
}

.page-ai-content {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #0a652f;
    margin-right: 50px;
    margin-left: 50px;
}

.page-content {
    align-self: flex-end; /* 오른쪽에 맞춤 (플렉스 컨테이너 내에서) */
    margin-right: 50px;
    margin-left: 50px;
    line-height: 20px;
    font-size: 15px;
}

/* 2 페이지 스타일 */
.page2-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.page2-data {
    display: flex;
    width: 80%;
}

.page2-title {
    flex: 4;
    height: 200px;
    margin-top: 70px;
    font-size: 22px;
    color: #5d493e;
}

.page2-content {
    flex: 6;
    height: 200px;
    margin-top: 66px;
    font-size: 15px;
    margin-left: 30px;
    line-height: 21px;
}

.page2-ai-img {
    width: 350px;
    height: 350px;
    margin-bottom: 60px;
}

.page2-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.page2-img {
    margin: 60px 0px;
    width: 350px;
    height: 350px;
}

.page2-ai-content {
    font-size: 20px;
    margin: 20px 0px;
    color: #0a652f;
    margin-right: 50px;
    margin-left: 50px;
}

/* 3 페이지 스타일 */
.page3-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.page3-img {
    height: 350px;
    width: 350px;
    margin-top: 60px;
}

.page3-title {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
    color: #5d493e;
}
.page3-content {
    font-size: 15px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 20px;
}
.page3-ai-content {
    flex: 4;
    font-size: 20px;
    margin-left: 30px;
    color: #0a652f;
}

.page3-ai-img {
    width: 350px;
    height: 350px;
    margin-bottom: 60px;
}

.page3-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.page3-ai-content {
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    color: #0a652f;
}
.page3-ai-img {
    width: 350px;
    height: 350px;
    margin-bottom: 80px;
}
/* 4 페이지 스타일 */
.page4-1 {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 660px;
}

.top-row {
    position: relative; /* 상대적 위치를 설정 */
    width: 450px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image-left-1:first-child {
    position: absolute; /* 절대 위치를 설정 */
    top: 15px;  /* 상단에 붙임 */
    left: 15px; /* 왼쪽에 붙임 */
    width: 200px;
    height: 250px;
}

.product-image-left-1:last-child {
    position: absolute; /* 절대 위치를 설정 */
    bottom: 0; /* 하단에 붙임 */
    right: 15px;  /* 오른쪽에 붙임 */
    width: 200px;
    height: 250px;
}
.bottom-row {
    width: 450px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image-left-2 {
    width: 420px;
    height: 300px;
}
.product-introduce {
    font-size: 20px;
    color: #5d493e;
    margin-top: 60px;
    margin-left: 50px;
}

.product-image{
    height: 120px;
    width: 120px;
}

.product-container {
    display: flex;
    align-items: center; /* 이미지와 상세 정보를 수직 중앙 정렬 */
}

.product-details {
    display: flex;
    flex-direction: column; /* 세로로 나열 */
    margin-left: 10px; /* 이미지와 상세 정보 사이의 간격 */
}

.product-container {
    margin-top: 45px;
    margin-left: 50px;

}
.product-name {
    margin-top: 7px;
}
.product-grade {
    font-size: 15px;
    color: #f65c60;
    margin-top: 7px;
}