<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>L-life Login </title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/member/login.css}"/>
</head>
<body>
    <header>
        <div class="header-logo">
            <img th:src="@{/img/header/logo_l_life_b.png}"/>
        </div>
    </header>
    <div class="login-container">
        <div class="login-wrapper">
            <form id="login-form" name="loginForm" action="/login" method="post">
                <input type="text" class="text-input" name="userName" placeholder="아이디 입력">
                <input type="password" class="text-input" name="password" placeholder="비밀번호 입력">
                <label for="isSaveId">
                    <input type="checkbox" id="isSaveId">아이디 저장하기
                </label>
                <input class="text-btn" id="btn-login" type="submit" value="로그인">
                <input class="text-btn" id="btn-join" type="button" value="회원가입">
            </form>
        </div>
        <div class="login-find">
            <span id="find-id">아이디 찾기</span>
            <span id="find-pw">비밀번호 찾기</span>
        </div>
        <div class="sns-login">
            <ul>
                <li>
                    <a href="#"><img alt="naver login" th:src="@{/img/member/i_login_naver.png}"/></a>
                </li>
                <li>
                    <a href="#"><img alt="kakao login" th:src="@{/img/member/i_login_kakao.png}"/></a>
                </li>
                <li>
                    <a href="#"><img alt="apple login" th:src="@{/img/member/i_login_apple.png}"/></a>
                </li>
            </ul>
        </div>
        <div>
            <a>사업자 회원가입</a>
        </div>
    </div>
</body>
</html>