<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mypagePremiumSubscriptionFragment()">
    <link rel="stylesheet" th:href="@{/css/member/mypage_premium_subscription.css}">

    <div class="subscribe-title">프리미엄 구독 제품</div>
    <ul>
        <li th:each="product,iterStat : ${premiumSubscriptionList}" class="product-item">
            <a th:href="${baseUrl}+'/l-life/premium/'+${product.lfId}+'/detail'" ><img class="product-image" th:src="${product.lfImgMain}" /></a>
                <div class="product-details">
                    <div class="product-details-first">
                        <div>
                            <span class="brand-name" th:text="${product.lfBrandName}"></span>
                            <a th:href="${baseUrl}+'/l-life/premium/'+${product.lfId}+'/detail'" ><p class="product-name" th:text="${product.lfName}"></p></a>
                            <p class="product-details-option" th:text="'옵션: ' + ${product.lfOptName}"></p>

                        </div>
                        <div style="text-align: right">
                            <p class="subscribe-info">구독 만료일 </span><span class="txt-orange" th:text="${#strings.substring(product.subLfEndDate,0,10)}"></span></p>
                            <span class="subscribe-info first-subscribe-info">최소 구독 기간은 <span class="txt-orange" th:text="${product.lfPrMinPeriod} + 개월"></span>입니다</span>
                            <p class="product-price"><span>월</span><span  th:text="${#numbers.formatInteger(product.lfPrPrice, 0, 'COMMA')}"></span><span>원</span></p>

                        </div>
                    </div>
<!--                    <div class="product-details-second">-->
<!--                        <p class="product-details-option" th:text="'옵션: ' + ${product.lfOptName}"></p>-->
<!--                    </div>-->
<!--                    <div class="product-details-third">-->
<!--                        <div class="product-option" th:text="'옵션: ' + ${product.lfOptName}"></div>-->
<!--                    </div>-->
                    <div class="buttons">
                        <a href="#" class="custom-button">구독연장</a>
                        <button class="custom-button return-button" th:onclick="mail([[${iterStat.index}]])"
                                th:attr="data-product-id=${product.subLfId}">반납</button>
                        <a href="#" class="custom-button">케어신청</a>
                        <a th:href="${baseUrl}+'/l-life/member/'+${session.existingMember.mId}+'/mypage/delivery'" class="custom-button">배송조회</a>
                    </div>
                    <input type="hidden" th:class="'lfId_'+ ${iterStat.index}" th:value="${product.lfId}">
                    <input type="hidden" th:class="'lfOptName_' + ${iterStat.index}" th:value="${product.lfOptName}">
                    <input type="hidden" th:class="'lfBrandName_' + ${iterStat.index}" th:value="${product.lfBrandName}">
                    <input type="hidden" th:class="'lfName_' + ${iterStat.index}" th:value="${product.lfName}">
                    <input type="hidden" th:class="'lfImgMain_' + ${iterStat.index}" th:value="${product.lfImgMain}">

                </div>
        </li>
    </ul>

</th:block>
</html>
