<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/member/cart.css}">

<head>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <script th:inline="javascript">
        var loggedInMemberInfo = /*[[${loggedInMemberInfo}]]*/ null;
        var currentCoin = [[${session.currentCoin}]];
        var baseUrl = /*[[${baseUrl}]]*/ null;
    </script>
</head>
<body>

<!-- 헤더 프래그먼트 삽입 -->
<th:block th:replace="common/fragment/header/header::headerFragment(0)"></th:block>

<!-- 서브 헤더 프래그먼트 삽입 -->
<th:block th:replace="common/fragment/header/sub_header::subHeaderFragment(0)"></th:block>

<div class="cart_container hd__inner1100">
    <main>

        <!-- 사이드바 프래그먼트 삽입 -->
        <section class="mypage-sidebar">
            <th:block th:replace="common/fragment/sidebar/mypage_sidebar::mypageSidebarFragment()"></th:block>
        </section>

        <!--스탠다드 장바구니 부분 -->
        <section class="standard-section">
            <div class="cart-title">장바구니</div>
            <div class="standard-container">
                <div class="standard-product">
                    <div class="cart-sub-title">스탠다드구독상품</div>
                    <button class="delete-btn all-delete">전체삭제</button>
                    <button class="delete-btn select-delete">선택삭제</button>
                    <div class="list-item" th:each="product, iterStat  : ${standardCarts}">
                        <input type="hidden" th:class="stId" th:value="${iterStat.index}">
                        <input type="hidden" th:id="'slfId_' + ${iterStat.index}" th:value="${product.lfId}">
                        <input type="hidden" th:id="'slfOptId_' + ${iterStat.index}" th:value="${product.lfOptId}">
                        <input type="hidden" th:id="'slfBrandName_' + ${iterStat.index}" th:value="${product.lfBrandName}">
                        <input type="hidden" th:id="'slfImgMain_' + ${iterStat.index}" th:value="${product.lfImgMain}">
                        <input type="hidden" th:id="'slfstCoin_' + ${iterStat.index}" th:value="${product.lfStCoin}">
                        <input type="hidden" th:id="'slfStSubId_' + ${iterStat.index}" th:value="${session.stSubId}">
                        <input type="hidden" th:id="'slfName_' + ${iterStat.index}" th:value="${product.lfName}">
                        <input type="hidden" th:id="'stotalCoin_' + ${iterStat.index}" th:value="${product.totalCoin}">
                        <input type="hidden" th:id="'slfPackageId' + ${iterStat.index}" th:value="${product.lfPackageId}">

                        <input type="checkbox" class="standard-checkbox" th:id="'standard-subscription_' + ${iterStat.index}" name="subscription" value="standard">
                        <a class="product-link" th:href="@{'#'}">
                            <img class="product-image" th:src="${product.lfImgMain}"/>
                            <div class="product-details">
                                <span class="product-name" th:text="${product.lfName}"></span>
                                <div class="coins">
                                    <th:block th:each="coins, stat : ${#numbers.sequence(1, product.lfStCoin)}">
                                        <img th:src="@{/img/member/coin.png}"/>
                                    </th:block>
                                </div>
                                <div class="coins" th:if="${product.lfPackageId != null}">
                                    <div>할인 후 </div>
                                    <th:block th:each="coins, stat : ${#numbers.sequence(1, product.totalCoin)}">
                                        <img th:src="@{/img/member/coin.png}"/>
                                    </th:block>
                                </div>
                                <div class="product-coins" th:text="${product.lfStCoin}" style="display: none;"></div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="coins-remaining">
                    <div class="coins"></div>
                    <span></span>
                </div>


            </div>

            <div class="standard-start">
                <a href="https://livart-life.com/l-life/standard/main" class="standard-add-link">스탠다드상품 추가하기</a>
                <div class="reminder">L-lile Coin이 <span class="coinAmount" th:text="${session.currentCoin}"></span>개 남았어요!</div>
                <a class="custom-button-link">
                    <button class="custom-button" data-bs-toggle="modal" data-bs-target="#standardCartModal">
                        구독 시작하기
                    </button>
                </a>
            </div>
            <th:block th:replace="pages/member/mypage_standard_cart_modal::standardCartModal()"></th:block>

            <!-- 프리미엄 장바구니 부분 -->

            <div class="premium-container">
                <div class="premium-product">
                    <div class="cart-sub-title">프리미엄구독상품</div>
                    <button class="delete-btn all-delete">전체삭제</button>
                    <button class="delete-btn select-delete">선택삭제</button>
                    <div class="list-item" th:each="product, iterStat : ${premiumCarts}">
                        <input type="hidden" th:id="'lfId_' + ${iterStat.index}" th:value="${product.lfId}">
                        <input type="hidden" th:id="'lfOptId_' + ${iterStat.index}" th:value="${product.lfOptId}">
                        <input type="hidden" th:id="'stockAmount_' + ${iterStat.index}" th:value="${product.stockAmount}" class="stockAmount">
                        <input type="hidden" th:id="'lfBrandName_' + ${iterStat.index}" th:value="${product.lfBrandName}">
                        <input type="hidden" th:id="'lfImgMain_' + ${iterStat.index}" th:value="${product.lfImgMain}">
                        <input type="hidden" th:id="'lfPrPrice_' + ${iterStat.index}" th:value="${product.lfPrPrice}">
                        <input type="hidden" th:id="'lfPrMinPeriod_' + ${iterStat.index}" th:value="${product.lfPrMinPeriod}">
                        <input type="hidden" th:id="'lfPrSubId_' + ${iterStat.index}" th:value="${session.prSubId}">
                        <input type="hidden" th:id="'lftotalPrice_' + ${iterStat.index}" th:value="${product.totalPrice}">

                        <input type="checkbox" class="premium-checkbox" th:id="'premium-subscription_' + ${iterStat.index}">
                        <a class="product-link" th:href="@{'#'}">
                            <img class="product-image" th:src="${product.lfImgMain}" th:value="${product.lfImgMain}"/>
                            <div class="product-details">
                                <span class="product-name" th:id="'lfName_' + ${iterStat.index}" th:text="${product.lfName}"></span>
                                <div class="product-coins"  th:value="${product.lfPrPrice}" style="display: none;"></div>
                            </div>
                        </a>

                        <div class="item-price">
                            <div class="subscription-month"></div>
                            <div class="item-count-wrap">
                                <!-- 각 상품의 id를 고유하게 변경 -->
                                <button class="decrement">-</button>
                                <input type="text" th:id="'quantity_' + ${iterStat.index}" class="quantity" value="1">
                                <button class="increment">+</button>
                            </div>
                            <div class="subscription-price" th:text="${product.lfPrPrice}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="premium-start">
                <a href="https://livart-life.com/l-life/premium/main" class="premium-add-link">프리미엄상품 추가하기</a>
                <div class="total-premium-price">구독상품금액: </div>
                <a class="custom-button-link"><button class="custom-button premium-payment">결제하기</button></a>
            </div>
            <input type="hidden" id="memberId" th:value="${session.existingMember.mId}">
        </section>

        <script>

            $('.premium-payment').click(function () {
                // 선택된 상품들을 담을 배열
                var selectedProducts = [];
                // 각 상품 요소를 순회하면서 선택 여부 확인
                $('.premium-checkbox:checked').each(function () {
                    var id = $(this).attr('id').split('_')[1];
                    var lfId = $('#lfId_' + id).val();
                    var lfOptId = $('#lfOptId_' + id).val();
                    var lfName = $('#lfName_' + id).text();
                    var lfImgMain = $('#lfImgMain_' + id).val();
                    var lfPrPrice = $('#lfPrPrice_' + id).val();
                    var quantity = $('#quantity_' + id).val();
                    var lfBrandName = $('#lfBrandName_' + id).val();
                    var lfPrMinPeriod = $('#lfPrMinPeriod_' + id).val();
                    var lfPrSubId =  $('#lfPrSubId_' + id).val();
                    var memberId = $('#memberId').val();
                    var totalPrice = $('#lftotalPrice_'+id).val();
                    selectedProducts.push(
                        {
                            subscriptionId : lfPrSubId,
                            lfId: lfId,
                            lfOptId: lfOptId,
                            lfName: lfName,
                            lfImgMain: lfImgMain,
                            lfPrPrice: lfPrPrice,
                            quantity: quantity,
                            lfBrandName : lfBrandName,
                            lfPrMinPeriod : lfPrMinPeriod,
                            memberId : memberId,
                            totalPrice: totalPrice
                    });
                    console.log(selectedProducts)
                });

                console.log(selectedProducts.length)

                if (selectedProducts.length == 0){
                    Swal.fire({
                        title: '선택된 상품이 없습니다.',
                        text: '리바트 라이프와 함께 해주셔서 감사합니다.',
                        imageUrl: baseUrl + '/l-life/img/header/logo_l_life_b.png',
                    })
                    return
                }
                $.ajax({
                    type: 'POST',
                    url: '/l-life/subscription/premium/payment_detail',
                    data: JSON.stringify(selectedProducts),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (response) {
                        console.log('Data sent successfully:', response);

                        var redirectUrl = response.redirectUrl;
                        if (redirectUrl) {
                            window.location.href = redirectUrl;
                        }
                    },
                    error: function (error) {
                        // 오류 처리
                        console.error('Error sending data:', error);
                    }
                });
            });

            $('.standard-payment').click(function () {
                // 선택된 상품들을 담을 배열
                var selectedStProducts = [];
                // 각 상품 요소를 순회하면서 선택 여부 확인
                $('.standard-checkbox:checked').each(function () {
                    console.log("this" + this)
                    var sid = $(this).attr('id').split('_')[1];
                    var lfId = $('#slfId_' + sid).val();
                    var lfOptId = $('#slfOptId_' + sid).val();
                    var lfName = $('#slfName_' + sid).val();
                    var lfImgMain = $('#slfImgMain_' + sid).val();
                    var lfStCoin = $('#slfstCoin_' + sid).val();
                    var lfBrandName = $('#slfBrandName_' + sid).val();
                    var lfStSubId =  $('#slfStSubId_' + sid).val();
                    var memberId = $('#memberId').val();
                    var totalCoin = $('#stotalCoin_'+ sid).val();

                    selectedStProducts.push(
                        {
                            subscriptionId : lfStSubId,
                            lfId: lfId,
                            lfOptId: lfOptId,
                            lfName: lfName,
                            lfImgMain: lfImgMain,
                            lfStCoin: lfStCoin,
                            lfBrandName : lfBrandName,
                            memberId : memberId,
                            totalCoin: totalCoin
                        });
                    console.log(selectedStProducts)
                });
                if (selectedStProducts.length == 0){
                    Swal.fire({
                        title: '선택된 상품이 없습니다.',
                        text: '리바트 라이프와 함께 해주셔서 감사합니다.',
                        imageUrl: baseUrl + '/l-life/img/header/logo_l_life_b.png',
                    })
                    return
                }
                $.ajax({
                    type: 'POST',
                    url: '/l-life/subscription/standard/payment_detail',
                    data: JSON.stringify(selectedStProducts),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (response) {
                        console.log('Data sent successfully:', response);

                        var redirectUrl = response.redirectUrl;
                        if (redirectUrl) {
                            window.location.href = redirectUrl;
                        }
                    },
                    error: function (error) {
                        // 오류 처리
                        console.error('Error sending data:', error);
                    }
                });
            });

            document.addEventListener('DOMContentLoaded', (event) => {
                const standardCheckboxes = document.querySelectorAll('.standard-checkbox');
                const premiumCheckboxes = document.querySelectorAll('.premium-checkbox');
                const coinsRemainingElement = document.querySelector('.coins-remaining .coins');
                const coinsRemainingTextElement = document.querySelector('.coins-remaining span');
                const totalPremiumPriceElement = document.querySelector('.total-premium-price');

                const itemPriceElements = document.querySelectorAll('.item-price');
                const initialProductPrices = [];
                const coinAmount = document.querySelector('.coinAmount');

                itemPriceElements.forEach((itemPriceElement, index) => {
                    const decrementButton = itemPriceElement.querySelector('.decrement');
                    const incrementButton = itemPriceElement.querySelector('.increment');
                    const quantityInput = itemPriceElement.querySelector('.quantity');
                    const subscriptionPriceElement = itemPriceElement.querySelector('.subscription-price');
                    initialProductPrices[index] = parseInt(subscriptionPriceElement.textContent.replace(/[^0-9]/g, ''));

                    decrementButton.addEventListener('click', () => {
                        const quantity = parseInt(quantityInput.value);
                        if (quantity > 0) {
                            quantityInput.value = quantity - 1;
                            updateTotalPrice();
                        }
                    });

                    incrementButton.addEventListener('click', () => {
                        const quantity = parseInt(quantityInput.value);

                        const stockAmount = document.querySelector('.stockAmount').value; // 상품 수량 가져오기
                        if (quantity < stockAmount) {
                            quantityInput.value = quantity + 1;
                            updateTotalPrice();
                        } else {
                            Swal.fire({
                                title: '재고 수량을 초과하였습니다.',
                                text: '리바트 라이프와 함께 해주셔서 감사합니다.',
                                imageUrl: baseUrl + '/l-life/img/header/logo_l_life_b.png',
                            })
                        }
                    });

                    quantityInput.addEventListener('change', () => {
                        updateTotalPrice();
                    });
                });

                standardCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', () => {
                        const productCoins = parseInt(checkbox.closest('.list-item').querySelector('.product-coins').textContent);
                        const currentCoins = document.querySelector('.coinAmount').textContent;

                        if (checkbox.checked) {
                            if ((currentCoins - productCoins) < 0 ){
                                checkbox.checked = !checkbox.checked;
                                Swal.fire({
                                    title: '보유 H코인이 부족합니다.',
                                    text: '리바트 라이프와 함께 해주셔서 감사합니다.',
                                    imageUrl: baseUrl + '/l-life/img/header/logo_l_life_b.png',
                                })
                                return
                            }
                            for (let i = 0; i < productCoins; i++) {
                                const img = document.createElement('img');
                                img.src = 'https://img-resource.s3.ap-northeast-2.amazonaws.com/coin.png';
                                coinsRemainingElement.appendChild(img);
                            }
                        } else {
                            for (let i = 0; i < productCoins; i++) {
                                coinsRemainingElement.removeChild(coinsRemainingElement.lastChild);
                            }
                        }

                        coinsRemainingTextElement.textContent = `${coinsRemainingElement.querySelectorAll('img').length}/${currentCoin}`;
                        const miusCoin = coinsRemainingElement.querySelectorAll('img').length;
                        coinAmount.textContent = `${currentCoin -  miusCoin}`;


                    });
                });

                premiumCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', () => {
                        updateTotalPrice();
                    });
                });

                function updateTotalPrice() {
                    let currentTotalPrice = 0;

                    itemPriceElements.forEach((itemPriceElement, index) => {
                        const quantityInput = itemPriceElement.querySelector('.quantity');
                        const subscriptionPriceElement = itemPriceElement.querySelector('.subscription-price');
                        const checkbox = itemPriceElement.closest('.list-item').querySelector('.premium-checkbox');

                        const quantity = parseInt(quantityInput.value);
                        subscriptionPriceElement.textContent = (initialProductPrices[index] * quantity).toLocaleString() + '원';

                        if (checkbox.checked) {
                            currentTotalPrice += initialProductPrices[index] * quantity;
                        }
                    });

                    totalPremiumPriceElement.textContent = `구독상품금액: ${currentTotalPrice.toLocaleString()}원`;
                }
            });
        </script>

    </main>
</div>

<!-- 푸터 프래그먼트 -->
<th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>
</body>
</html>
