<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/member/cart.css}">

<head>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <script th:inline="javascript">
        var loggedInMemberInfo = /*[[${loggedInMemberInfo}]]*/ null;
        var currentCoin = [[${session.currentCoin}]];
    </script>
</head>
<body>

<!-- 헤더 프래그먼트 삽입 -->
<th:block th:replace="common/fragment/header/header::headerFragment(0)"></th:block>

<!-- 서브 헤더 프래그먼트 삽입 -->
<th:block th:replace="common/fragment/header/sub_header::subHeaderFragment(0)"></th:block>

<div class="cart_container hd__inner1100">
    <main>

        <!-- 사이드바 프래그먼트 삽입 -->
        <section class="mypage-sidebar">
            <th:block th:replace="common/fragment/sidebar/mypage_sidebar::mypageSidebarFragment()"></th:block>
        </section>

        <!--스탠다드 장바구니 부분 -->
        <section class="standard-section">
            <div class="cart-title">장바구니</div>

            <div class="standard-container">

                <div class="standard-product">
                    <div class="cart-sub-title">스탠다드구독상품</div>
                    <div class="list-item" th:each="product : ${standardCarts}">
                        <input type="checkbox" class="standard-checkbox" id="standard-subscription" name="subscription" value="standard">
                        <a class="product-link" th:href="@{'#'}">
                            <img class="product-image" th:src="${product.lfImgMain}"/>
                            <div class="product-details">
                                <span class="product-name" th:text="${product.lfName}"></span>
                                <div class="coins">
                                    <th:block th:each="coins, stat : ${#numbers.sequence(1, product.lfStCoin)}">
                                        <img th:src="@{/img/member/coin.png}"/>
                                    </th:block>
                                </div>
                                <div class="product-coins" th:text="${product.lfStCoin}" style="display: none;"></div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="coins-remaining">
                    <div class="coins"></div>
                    <span></span>
                </div>


            </div>

            <div class="standard-start">
                <a href="#" class="standard-add-link">스탠다드상품 추가하기</a>
                <div class="reminder">L-lile Coin이 <span class="coinAmount" th:text="${session.currentCoin}"></span>개 남았어요!</div>
                <a th:href="@{/member/1/delivery_reservation}" class="custom-button-link">
                    <button class="custom-button">
                        구독 시작하기
                    </button>
                </a>
            </div>

            <!-- 프리미엄 장바구니 부분 -->

            <div class="premium-container">
                <div class="premium-product">
                    <div class="cart-sub-title">프리미엄구독상품</div>
                    <div class="list-item" th:each="product : ${premiumCarts}">
                        <input type="checkbox" class="premium-checkbox" id="premium-subscription">
                        <a class="product-link" th:href="@{'#'}">
                            <img class="product-image" th:src="${product.lfImgMain}"/>
                            <div class="product-details">
                                <span class="product-name" th:text="${product.lfName}"></span>
                                <div class="product-coins" th:text="${product.lfPrPrice}" style="display: none;"></div>
                            </div>
                        </a>

                        <div class="item-price">
                            <div class="subscription-month"></div>
                            <div class="item-count-wrap">
                                <!-- 각 상품의 id를 고유하게 변경 -->
                                <button class="decrement">-</button>
                                <input type="text" class="quantity" value="1">
                                <button class="increment">+</button>
                            </div>
                            <div class="subscription-price" th:text="${product.lfPrPrice}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="premium-start">
                <a href="#" class="premium-add-link">프리미엄상품 추가하기</a>
                <div class="total-premium-price">구독상품금액: </div>
                <a th:href="@{/subscription/premium/payment_detail}" class="custom-button-link"><button class="custom-button">결제하기</button></a>
            </div>
        </section>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                const standardCheckboxes = document.querySelectorAll('.standard-checkbox');
                const premiumCheckboxes = document.querySelectorAll('.premium-checkbox');
                const coinsRemainingElement = document.querySelector('.coins-remaining .coins');
                const coinsRemainingTextElement = document.querySelector('.coins-remaining span');
                const totalPremiumPriceElement = document.querySelector('.total-premium-price');

                const itemPriceElements = document.querySelectorAll('.item-price');
                const initialProductPrices = [];
                const coinAmount = document.querySelector('.coinAmount');

                itemPriceElements.forEach((itemPriceElement, index) => {
                    const decrementButton = itemPriceElement.querySelector('.decrement');
                    const incrementButton = itemPriceElement.querySelector('.increment');
                    const quantityInput = itemPriceElement.querySelector('.quantity');
                    const subscriptionPriceElement = itemPriceElement.querySelector('.subscription-price');
                    initialProductPrices[index] = parseInt(subscriptionPriceElement.textContent.replace(/[^0-9]/g, ''));

                    decrementButton.addEventListener('click', () => {
                        const quantity = parseInt(quantityInput.value);
                        if (quantity > 0) {
                            quantityInput.value = quantity - 1;
                            updateTotalPrice();
                        }
                    });

                    incrementButton.addEventListener('click', () => {
                        const quantity = parseInt(quantityInput.value);
                        quantityInput.value = quantity + 1;
                        updateTotalPrice();
                    });

                    quantityInput.addEventListener('change', () => {
                        updateTotalPrice();
                    });
                });

                standardCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', () => {
                        const productCoins = parseInt(checkbox.closest('.list-item').querySelector('.product-coins').textContent);
                        const currentCoins = coinsRemainingElement.querySelectorAll('img').length;

                        if (checkbox.checked) {
                            for (let i = 0; i < productCoins; i++) {
                                const img = document.createElement('img');
                                img.src = 'https://img-resource.s3.ap-northeast-2.amazonaws.com/coin.png';
                                coinsRemainingElement.appendChild(img);
                            }
                        } else {
                            for (let i = 0; i < productCoins; i++) {
                                coinsRemainingElement.removeChild(coinsRemainingElement.lastChild);
                            }
                        }

                        coinsRemainingTextElement.textContent = `${coinsRemainingElement.querySelectorAll('img').length}/${currentCoin}`;
                        const miusCoin = coinsRemainingElement.querySelectorAll('img').length;
                        coinAmount.textContent = `${currentCoin -  miusCoin}`;


                    });
                });

                premiumCheckboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', () => {
                        updateTotalPrice();
                    });
                });

                function updateTotalPrice() {
                    let currentTotalPrice = 0;

                    itemPriceElements.forEach((itemPriceElement, index) => {
                        const quantityInput = itemPriceElement.querySelector('.quantity');
                        const subscriptionPriceElement = itemPriceElement.querySelector('.subscription-price');
                        const checkbox = itemPriceElement.closest('.list-item').querySelector('.premium-checkbox');

                        const quantity = parseInt(quantityInput.value);
                        subscriptionPriceElement.textContent = (initialProductPrices[index] * quantity).toLocaleString() + '원';

                        if (checkbox.checked) {
                            currentTotalPrice += initialProductPrices[index] * quantity;
                        }
                    });

                    totalPremiumPriceElement.textContent = `구독상품금액: ${currentTotalPrice.toLocaleString()}원`;
                }
            });
        </script>

    </main>
</div>

<!-- 푸터 프래그먼트 -->
<th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>
</body>
</html>
