<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mypagePremiumRecentSubscription()">
    <link rel="stylesheet" th:href="@{/css/member/mypage_premium_recent_subscription.css}">
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">

    <div class="subscribe-title">최근 구독 내역</div>
    <div class="date-select">
        <div class="date-select-wrap">
            <span class="time-select" onclick="setMonth(1)">1개월</span>
            <span class="time-select" onclick="setMonth(3)">3개월</span>
            <span class="time-select" onclick="setMonth(6)">6개월</span>
            <span class="time-select" onclick="setMonth(12)">1년</span>
        </div>

        <div class="date-input-wrap">
            <div class="date-input" id="startDateDiv">
                <span class="date-text" id="startDate"></span>
                <img th:src="@{/img/member/calender.png}" alt="calendar icon" class="calendar-icon" onclick="openDatePicker('startDate')">
            </div>
            ~
            <div class="date-input" id="endDateDiv">
                <span class="date-text" id="endDate"></span>
                <img th:src="@{/img/member/calender.png}" alt="calendar icon" class="calendar-icon" onclick="openDatePicker('endDate')">
            </div>
            <button type="button" id="btnNewOrder" class="datepicker-search">검색하기</button>
        </div>
    </div>

    <!-- 프리미엄 테이블 부분 -->
    <table class="recent-table">
        <colgroup>
            <col style="width: 25%">
            <col style="width: 50%">
            <col style="width: 25%">
        </colgroup>
        <thead>
        <tr>
            <th class="col-title">주문일</th>
            <th class="col-title">구독항목</th>
            <th class="col-title">월구독가격</th>
        </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>

    <script src="https://unpkg.com/js-datepicker"></script>
    <script>

        $(document).ready(function() {
            const startDate = $("#startDate").text();
            const endDate = $("#endDate").text();

            $.ajax({
                url: baseUrl +'/l-life/api/v1/member/1/mypage/premium/recent',
                method: 'GET',
                data: { startDate: startDate, endDate: endDate },
                dataType: 'json',
                success: function(data) {
                    console.log(data)
                    const tableBody = $('#table-body');

                    data.forEach(product => {
                        const row = $("<tr>");

                        const productDateCell = $("<td>").addClass('product_date').text(product.subscribeStartDate);

                        const productInfoCell = $("<td>");
                        const productInfoDiv = $("<div>").addClass('product-info');

                        const productImg = $("<img>").addClass('product-img').attr('src', product.lfImgMain);

                        const productDetails = $("<div>").addClass('product-details');
                        const productName = $("<span>").text(product.lfName);

                        const productPriceCell = $("<td>");
                        const productPriceDiv = $("<div>");

                        const productPrice = $("<span>").text(product.lfPrPrice);

                        productDetails.append(productName);
                        productInfoDiv.append(productImg);
                        productInfoDiv.append(productDetails);
                        productInfoCell.append(productInfoDiv);
                        productPriceDiv.append(productPrice);
                        productPriceCell.append(productPriceDiv);

                        row.append(productDateCell);
                        row.append(productInfoCell);
                        row.append(productPriceCell);

                        tableBody.append(row);
                    });
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });

        $("#btnNewOrder").click(function() {
            const startDate = $("#startDate").text();
            const endDate = $("#endDate").text();

            $.ajax({
                url: baseUrl + '/l-life/api/v1/member/1/mypage/premium/recent',
                type: 'GET',
                data: {
                    startDate: startDate,
                    endDate: endDate
                },
                success: function(data) {
                    console.log(data);

                    const tableBody = $("#table-body");
                    tableBody.empty(); // 기존 데이터를 지우고 새로운 데이터로 대체

                    data.forEach(product => {
                        const row = $("<tr>");

                        const productDateCell = $("<td>").addClass('product_date').text(product.subscribeStartDate);

                        const productInfoCell = $("<td>");
                        const productInfoDiv = $("<div>").addClass('product-info');

                        const productImg = $("<img>").addClass('product-img').attr('src', product.lfImgMain);

                        const productDetails = $("<div>").addClass('product-details');
                        const productName = $("<span>").text(product.lfName);

                        const productPriceCell = $("<td>");
                        const productPriceDiv = $("<div>");

                        const productPrice = $("<span>").text(product.lfPrPrice);

                        productDetails.append(productName);
                        productInfoDiv.append(productImg);
                        productInfoDiv.append(productDetails);
                        productInfoCell.append(productInfoDiv);
                        productPriceDiv.append(productPrice);
                        productPriceCell.append(productPriceDiv);

                        row.append(productDateCell);
                        row.append(productInfoCell);
                        row.append(productPriceCell);

                        tableBody.append(row);
                    });
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            setDefaultDates();
            initDatepickers();
        });


        function setDefaultDates() {
            let today = new Date();
            let oneMonthAgo = new Date(today);
            oneMonthAgo.setMonth(today.getMonth() - 1);

            document.getElementById("startDate").innerHTML = formatDate(oneMonthAgo);
            document.getElementById("endDate").innerHTML = formatDate(today);
        }

        function formatDate(date) {
            let dd = date.getDate();
            let mm = date.getMonth() + 1;
            let yyyy = date.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            return yyyy + '.' + mm + '.' + dd;
        }


        function setMonth(monthsAgo) {
            let today = new Date();
            let pastDate = new Date(today);
            pastDate.setMonth(today.getMonth() - monthsAgo);

            document.getElementById("startDate").innerHTML = formatDate(pastDate);
            document.getElementById("endDate").innerHTML = formatDate(today);
        }

        let startDatePicker, endDatePicker;

        function initDatepickers() {
            const startDateDiv = document.getElementById('startDateDiv');
            const endDateDiv = document.getElementById('endDateDiv');

            startDatePicker = datepicker(startDateDiv, {
                onSelect: (instance, date) => {
                    document.getElementById("startDate").textContent = formatDate(date);
                }
            });

            endDatePicker = datepicker(endDateDiv, {
                onSelect: (instance, date) => {
                    document.getElementById("endDate").textContent = formatDate(date);
                }
            });
        }

        function openDatePicker(id) {
            if (id === 'startDate') {
                startDatePicker.show();
            } else if (id === 'endDate') {
                endDatePicker.show();
            }
        }
    </script>
</th:block>
</html>
