<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mypageDeliveryTrackingFragment()">
    <link rel="stylesheet" th:href="@{/css/member/mypage_delivery_tracking.css}">
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">

    <div class="subscribe-title">주문/배송조회</div>
    <table class="recent-table">
        <colgroup>
            <col style="width: 20%">
            <col style="width: 40%">
            <col style="width: 20%">
            <col style="width: 20%">
        </colgroup>
        <thead>
        <tr>
            <th class="col-title">주문날짜/주문번호</th>
            <th class="col-title">상품이미지/상품명</th>
            <th class="col-title">가격</th>
            <th class="col-title">주문상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${deliveryList}">
            <td>
                <span th:text="${#strings.substring(product.subscribeStartDate,0,10)}"></span>
                <br>
                주문번호 : <span th:text="${product.subLfId}"></span>
            </td>
            <td>
                <div class="product-info">
                    <img class="product-img" th:src="${product.lfImgMain}">
                    <div class="product-details">
                        <span th:text="${product.lfName}"></span>
                    </div>
                </div>
            </td>
            <td>
                <div class="coins">
                    <th:block th:if="${product.lfSubType == 0}">
                        <!-- product.lfSubType이 0인 경우 -->
                        <th:block th:each="coin, stat : ${#numbers.sequence(1, product.lfStCoin)}">
                            <img th:src="@{/img/member/coin.png}" alt="Coin Image" width="20"/>
                        </th:block>
                    </th:block>
                    <th:block th:if="${product.lfSubType == 1}">
                        <div>
                            <span th:text="${#numbers.formatInteger(product.lfPrPrice, 0, 'COMMA')}"></span><span>원</span>
                        </div>
                    </th:block>
                </div>

            </td>
            <td>
                <form action="http://info.sweettracker.co.kr/tracking/4" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="t_key" name="t_key" placeholder="제공받은 APIKEY" th:value="${deliveryKey}">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="t_code" id="t_code" placeholder="택배사 코드" value="04">
                    </div>
                    <div class="form-group">
                        <label for="t_invoice"
                               th:text="${product.deliveryCode != null} ? 'CJ 대한통운' : ''"
                        ></label>
                        <input type="hidden" class="form-control" name="t_invoice" id="t_invoice" placeholder="운송장 번호" th:value="${product.deliveryCode}"  th:disabled>
                    </div>
                    <div class="form-group">
                        <span placeholder="택배사 코드"
                              th:text="${product.deliveryCode != null} ? ${product.deliveryCode} : '배송이 준비중입니다.'"
                              value="05"></span>
                    </div>
                    <button type="submit" class="btn custom-button">조회하기</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</th:block>
</html>
