<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mypageUserFragment()">
    <link rel="stylesheet" th:href="@{/css/member/mypage_standard.css}">

    <section class="user-info">
            <div>
                <p class="user-hello">안녕하세요 <span th:text="${session.loggedInMemberInfo.mName}"></span>님</p>
            </div>
            <div class="user-info-box-list">
                <div class="user-info-box">
                    <span th:text="${session.loggedInMemberInfo.mPoint}"></span>
                    <span>H.Point</span>
                </div>
                <div class="user-info-box">
                    <img th:src="@{/img/member/heart.png}" class="img-size1">
                    <span th:text="${like}"></span>
                    <span>찜한 상품</span>
                </div>
                <div class="user-info-box">
                    <span th:text="${restock}"></span>
                    <span>재입고 알림</span>
                </div>
            </div>
    </section>

    <section class="delivery-info">
        <div class="delivery-title-wrap">
            <div class="delivery-title">주문배송현황</div>
            <a href="/l-life/member/1/mypage/delivery">
                <button class="delivery-btn">배송현황 보러가기</button>
            </a>
        </div>
        <div>
<!--            <div>-->
<!--                <img th:src="@{/img/member/delivery1.png}" class="img-size2">-->
<!--                <div class="delivery-content">입금대기중</div>-->
<!--                <div><span class="num">0</span><span>건</span></div>-->
<!--            </div>-->
            <div>
                <img th:src="@{/img/member/delivery2.png}" class="img-size2">
                <div class="delivery-content">주문건수</div>
                <div><span class="num" th:text="${session.orderCount}"></span><span>건</span></div>
            </div>
            <div>
                <img th:src="@{/img/member/delivery3.png}" class="img-size2">
                <div class="delivery-content">배송준비중</div>
                <div><span class="num" th:text="${session.deliveryReady}"></span><span>건</span></div>
            </div>
            <div>
                <img th:src="@{/img/member/delivery4.png}" class="img-size2">
                <div class="delivery-content">배송중</div>
                <div><span class="num" th:text="${session.deliveryProgress}"></span><span>건</span></div>
            </div>
            <div>
                <img th:src="@{/img/member/delivery5.png}" class="img-size2">
                <div class="delivery-content">배송완료</div>
                <div><span class="num" th:text="${session.deliveryComplete}"></span><span>건</span></div>
            </div>
        </div>
    </section>

</th:block>
</html>