<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mypagePremiumSubscriptionFragment()">
    <link rel="stylesheet" th:href="@{/css/member/mypage_premium_subscription.css}">

    <div class="subscribe-title">프리미엄 구독 제품</div>
    <ul>
        <li th:each="product : ${premiumSubscriptionList}" class="list-item">
            <div class="product-item">
                <a th:href="@{'#'}" class="product-link">
                    <img class="product-image" th:src="${product.lfImgMain}" />
                    <div class="product-details">
                        <span class="product-name" th:text="${product.lfName}"></span>
                        <span class="product-price" th:text="${product.lfPrPrice} + '원'"></span>
                    </div>
                </a>
            </div>
            <div class="subscribe-info-wrap">
                <div class="subscribe-info first-subscribe-info">다음 구독료 결제일은 ${2023년 8월 23일 (수)}입니다.</div>
                <div class="subscribe-info">구독 만료일 ${23/10/23(수)}</div>
                <div class="buttons">
                    <a href="#" class="custom-button">구독연장</a>
                    <button class="custom-button return-button"
                            th:attr="data-product-id=${product.subLfId}">반납</button>
                    <a href="#" class="custom-button">케어신청</a>
                    <a href="#" class="custom-button">배송조회</a>
                </div>
            </div>
        </li>
    </ul>

</th:block>
</html>
