<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mypageStandardSubscriptionFragment()">
    <link rel="stylesheet" th:href="@{/css/member/mypage_standard_subscription.css}">

    <div class="subscribe-title">스탠다드 구독 제품</div>
    <div class="subscribe-sub-title">
        <span th:if="${standardSubscription == null}">현재 보유중인 스탠다드 구독권이 없습니다</span>
        <span th:if="${standardSubscription != null}">
        현재 보유중인 스탠다드 구독권 "<span th:text="${standardSubscription.subscriptionPlanName}"></span>"
    </span>
    </div>
    <ul>
        <li th:each="product : ${standardSubscriptionList}" class="list-item">
            <div class="product-item">
                <!-- a 태그안에 경로와 제품id를 넣어서 제품의 상세페이지로 이동하게 하기 - 일단 #
                <a th:href="@{'/productDetails/' + ${product.id}}"> -->
                <a th:href="@{'#'}" class="product-link">
                    <img class="product-image" th:src="${product.lfImgMain}" />
                    <div class="product-details">
                        <div class="brand-name" th:text="${product.lfBrandName}"></div>
                        <span class="product-name" th:text="${product.lfName}"></span>
                        <div class="coins">
                            <th:block th:each="coins, stat : ${#numbers.sequence(1, product.lfStCoin)}">
                                <img th:src="@{/img/member/coin.png}" />
                            </th:block>
                        </div>
                        <div class="product-option" th:text="'옵션: ' + ${product.getLfOptName()}"></div>
                    </div>
                </a>
            </div>
            <div class="buttons">
                <a href="#" class="custom-button">구독연장</a>
                <button class="custom-button return-button"
                   th:attr="data-product-id=${product.subLfId}">반납</button>
                <a href="#" class="custom-button">케어신청</a>
                <a href="#" class="custom-button">배송조회</a>
            </div>
        </li>
    </ul>

</th:block>


</html>

