<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/member/mypage_main.css}">

<head>
    <th:block th:replace="common/fragment/commonHead"></th:block>

    <script>
        localStorage.removeItem('selectedItem');
    </script>
</head>
<body>

<!-- 헤더 프래그먼트 삽입 -->
<th:block th:replace="common/fragment/header/header::headerFragment(0)"></th:block>

<!-- 서브 헤더 프래그먼트 삽입 -->
<th:block th:replace="common/fragment/header/sub_header::subHeaderFragment(0)"></th:block>

<div class="mypage_container hd__inner1100">
    <main>
        <!-- 사이드바 프래그먼트 삽입 -->
        <section class="mypage-sidebar">
            <th:block th:replace="common/fragment/sidebar/mypage_sidebar::mypageSidebarFragment()"></th:block>
        </section>

        <section class="mypage-content">
            <!-- 회원 정보, 주문 배송 현황 -->
            <th:block th:replace="pages/member/mypage_top_banner::mypageUserFragment()"></th:block>

            <!--커뮤니티 활동 부분 -->
            <div class="community-title">커뮤니티활동</div>
            <div class="community-info">
                <div class="info-item">
                    <div class="community-content">나의 리바트북</div>
                    <div><span class="num">1</span><span>건</span></div>
                </div>
                <div class="info-item">
                    <div class="community-content">최근에 본 리바트북</div>
                    <div><span class="num">3</span><span>건</span></div>
                </div>
                <div class="info-item">
                    <div class="community-content">나의 공간분석 레포트</div>
                    <div><span class="num">1</span><span>건</span></div>
                </div>
            </div>
<!--            <img th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/banner/%E1%84%80%E1%85%A1%E1%84%80%E1%85%AE+%E1%84%80%E1%85%AE%E1%84%83%E1%85%A9%E1%86%A8%E1%84%8B%E1%85%B3%E1%84%85%E1%85%A9+%E1%84%8C%E1%85%B5%E1%86%B8%E1%84%81%E1%85%AE%E1%84%86%E1%85%B5%E1%84%80%E1%85%B5.png}"-->
<!--                 style="height:280px;"/>-->

            <!--찜한 상품 내역-->
            <th:block th:replace="pages/member/mypage_main_wishlist::mypageMainWishlistFragment()"></th:block>
        </section>
    </main>
</div>

<!-- 푸터 프래그먼트 -->
<th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>
</body>
</html>
