<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mypageStandardRecentSubscription()">
    <link rel="stylesheet" th:href="@{/css/member/mypage_standard_recent_subscription.css}">
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">

    <div class="subscribe-title">최근 구독 내역</div>
    <div class="date-select">
        <div class="date-select-wrap">
            <span class="time-select" onclick="setMonth(1)">1개월</span>
            <span class="time-select" onclick="setMonth(3)">3개월</span>
            <span class="time-select" onclick="setMonth(6)">6개월</span>
            <span class="time-select" onclick="setMonth(12)">1년</span>
        </div>

        <div class="date-input-wrap">
            <div class="date-input" id="startDateDiv" onclick="openDatePicker('startDate')">
                <span class="date-text" id="startDate"></span>
                <img th:src="@{/img/member/calender.png}" alt="calendar icon" class="calendar-icon">
            </div>
            ~
            <div class="date-input" id="endDateDiv" onclick="openDatePicker('endDate')">
                <span class="date-text" id="endDate"></span>
                <img th:src="@{/img/member/calender.png}" alt="calendar icon" class="calendar-icon">
            </div>
            <button type="button" id="btnNewOrder" class="datepicker-search" onclick="goNewPage(1);">검색하기</button>
        </div>
    </div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                setDefaultDates();
            });

            function setDefaultDates() {
                let today = new Date();
                let oneMonthAgo = new Date(today);
                oneMonthAgo.setMonth(today.getMonth() - 1);

                document.getElementById("startDate").innerHTML = formatDate(oneMonthAgo);
                document.getElementById("endDate").innerHTML = formatDate(today);
            }

            function formatDate(date) {
                let dd = date.getDate();
                let mm = date.getMonth() + 1;
                let yyyy = date.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd;
                }

                if (mm < 10) {
                    mm = '0' + mm;
                }

                return yyyy + '.' + mm + '.' + dd;
            }


            function setMonth(monthsAgo) {
                let today = new Date();
                let pastDate = new Date(today);
                pastDate.setMonth(today.getMonth() - monthsAgo);

                document.getElementById("startDate").innerHTML = formatDate(pastDate);
                document.getElementById("endDate").innerHTML = formatDate(today);
            }


        </script>
    </div>
</th:block>
</html>
