<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="standardRecentSubscriptionTable()" id="standardRecentSubscriptionTable">
    <!-- 테이블 부분 -->
    <table class="recent-table">
        <colgroup>
            <col style="width: 25%">
            <col style="width: 50%">
            <col style="width: 25%">
        </colgroup>
        <thead>
        <tr>
            <th class="col-title">주문일</th>
            <th class="col-title">구독항목</th>
            <th class="col-title">구독상품</th>
        </tr>
        </thead>
        <tbody id="table-body">
        <tr th:each="product : ${recentStandardSubscriptionList}">
            <td th:text="${product.subscribeEndDate}"></td>
            <td>
                <div class="product-info">
                    <img class="product-img" th:src="${product.lfImgMain}">
                    <div class="product-details">
                        <span th:text="${product.lfName}"></span>
                    </div>
                </div>
            </td>
            <td th:text="${product.SubscriptionTypeName}"></td>
        </tr>
        </tbody>
    </table>
</th:block>
</html>
