.main-content{
    min-height: 300px;
}
.main-content-info{
    margin-top: 300px;
    margin-bottom: 300px;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.site-txt{
    font-size: 80px;
    font-weight: bold;
    line-height: 85px;
    margin-bottom: 18px;
    -webkit-animation: tracking-in-expand 6s cubic-bezier(0.215, 0.610, 0.355, 1.000)  infinite both;
    animation: tracking-in-expand 5s cubic-bezier(0.215, 0.610, 0.355, 1.000)  infinite both;
}

p{
    opacity: 0;
    transition: all 2.5s;
}
img{
    opacity: 0;
    transition: all 2.5s;
}

.main-content-info:first-child{
    position: relative;
}

.hero{
    position: absolute;
    width: 100%;
    height: auto;
}

.main-furniture{
    width: 150px; /* 이미지의 가로 크기 조절 */
    height: auto; /* 세로 크기는 자동으로 조절 (비율 유지) */
    animation: falling 1.5s ease-in-out;
}

#mf-pink-sofa {
    position: absolute;
    top: 80px;
    left: 300px;
    opacity: 0;
    transition: all 3.5s;
    width: 250px; /* 이미지의 가로 크기 조절 */
    height: auto;
    filter: blur(1.5px);
    transform: rotate(10deg);
}

#mf-camel-closet {
    position: absolute;
    top: 380px;
    left: 300px;
    opacity: 0;
    transition: all 3s;
    filter: blur(0.5px);
    transform: rotate(325deg);
}

#mf-lamp {
    position: absolute;
    top: 520px;
    left: 1200px;
    opacity: 0;
    transition: all 5s;
    filter: blur(3px);
    transform: rotate(345deg);
}

#mf-table {
    position: absolute;
    top: 650px;
    left: 500px;
    opacity: 0;
    transition: all 6s;
    width: 180px; /* 이미지의 가로 크기 조절 */
    height: auto;
    filter: blur(1px);
    transform: rotate(10deg);
}

#mf-brown-sofa {
    position: absolute;
    top: 50px;
    left: 1150px;
    opacity: 0;
    transition: all 5s;
    width: 200px; /* 이미지의 가로 크기 조절 */
    height: auto;
    filter: blur(1px);
    transform: rotate(15deg);
}

.main-slide {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
    animation: slide 40s linear infinite;
}

.main-furniture-slide {
    opacity: 1;
    width: 150px;
    height: auto;
    margin-top: 80px;
    margin-right: 20px;
}

.site-middle-txt{
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 18px;
    text-align: center;
}

.site-small-txt{
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 18px;
    text-align: center;
    color: #666666;
}

.promotion-banner{
    position: relative;
}

.promotion-button {
    padding: 15px;
    position: absolute;
    border-radius: 50px;
    background-color: #FF914D;
    color: white !important;
    font-weight: bold;
    width: 240px;
    height: 48px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    top: 650px;
    left: 720px;
}

.promotion-login {
    position: absolute;
    top: 720px;
    left: 700px;
}

.promotion-login > span {
    color: white;
    opacity: .7;
    margin-right: 5px;
}

.promotion-login > a {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
}
.coin-fall{
    position: relative;
    flex-direction: column;
    align-items: center;
}

.coin-fall > .site-middle-txt {
    position: absolute;
    top: 150px;
}

.coin-fall > .site-small-txt {
    position: absolute;
    top: 280px;
}

.site-small-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;
    color: #FF914D;
}

.main-content-square{
    margin-top: 300px;
    flex-direction: column;
    align-items: flex-start;
}

.site-middle-start-txt {
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 18px;
}

.main-content-square-end {
    flex-direction: column;
    align-items: flex-end;
}

.site-middle-end-txt {
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
}

.site-small-end-txt {
    font-size: 26px;
    font-weight: bold;
    color: #666666;
}

.main-ar-gif {
    position: relative;
    margin-top: 30px;
}

.main-ar-txt {
    position: absolute;
    text-align: right; /* 텍스트 우측 정렬을 위한 설정 */
}

.main-content-square-info {
    margin-top: 100px;
    margin-bottom: 300px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.start-button {
    padding: 10px;
    border-radius: 50px;
    background-color: #FF914D;
    color: white !important;
    font-weight: bold;
    width: 240px;
    height: 48px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

/* 애니메이션 */
/*txt*/
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes falling {
    0% {
        opacity: 0;
        transform: translateY(-100%) rotate(10deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(10deg);
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}