<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="subHeaderFragment(headerStyle)">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/header/sub_header.css}"/>

    <div th:class="${headerStyle == 1} ? 'sub-header text-white' : 'sub-header text-black'">
        <div class="sub-header-main hd__inner1400">
            <ul>
                <li> <a th:href="@{/standard/main}">스탠다드 구독관 </a></li>
                <li> <a th:href="@{/premium}">프리미엄 구독관 </a></li>
                <li> <a th:href="@{/subscription}">리바트 라이프 시작하기 </a></li>
                <li> <a>커뮤니티 </a></li>
                <li> <a>B2B </a></li>
            </ul>

        </div>
    </div>
</th:block>
</html>