<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="subCateHeaderFragment()">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/sub_cate_header.css}"/>

    <div class="sub-cate-header">
        <div class="sub-cate-header-main hd__inner1400">
            <ul>
                <li> <a>소파 </a></li>
                <li> <a>테이블 </a></li>
                <li> <a>조명 </a></li>
                <li> <a>의자 </a></li>
                <li> <a>침대 </a></li>
                <li> <a>수납 </a></li>
                <li> <a>패키지 </a></li>

            </ul>

        </div>
    </div>
</th:block>
</html>