<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="paginationFragment">
    <head>
        <meta charset="UTF-8">
        <title>Pagination</title>
        <th:block th:replace="common/fragment/commonHead"></th:block>
        <link rel="stylesheet" type="text/css" th:href="@{/css/common/pagination/pagination.css}"/>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
    <div class="container">
        <button class="button" id="startBtn" disabled>
            <i class="fa-solid fa-angles-left"></i>
        </button>
        <button class="button prevNext" id="prev" disabled>
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <div class="links">
            <th:block th:if="${paginationNum > 0}">
                <th:block th:each="pageNum : ${#numbers.sequence(1, paginationNum)}">
                    <a th:href="@{|${#httpServletRequest.requestURI.replaceAll('/l-life', '')}?page=${pageNum}|}"
                       th:class="${pageNum == page} ? 'link active' : 'link'">
                        [[${pageNum}]]
                    </a>
                </th:block>
            </th:block>
            <th:block th:unless="${paginationNum > 0}">
                <a th:href="@{|${#httpServletRequest.requestURI.replaceAll('/l-life', '')}?page=1|}" class="link active">
                    [[1]]
                </a>
            </th:block>
        </div>

        <button class="button prevNext" id="next">
            <i class="fa-solid fa-angle-right"></i>
        </button>
        <button class="button" id="endBtn">
            <i class="fa-solid fa-angles-right"></i>
        </button>

        <script th:src="@{/js/pagination/pagination.js}" defer="defer"></script>
    </div>
    </body>
</div>
</html>