<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/standard/livart_main.css}"/>
</head>
<body>
<section>

<div class="main-top-slide ">
    <th:block th:replace="common/fragment/header/livart_header :: headerFragment()"></th:block>
</div>
</section>
<section class="main-second-section">
<div class="main-content">

    <div class="main-content-category d-flex">
        <div class="main-category-card col">
            <img src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000453/P000000444_S100015194.jpg?20230803110649" alt="가구">
            <h3>가구</h3>
        </div>
        <div class="main-category-card col">
            <img src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000453/P000000444_S100015509.jpg?20230803110649" alt="">
            <h3>세계가구</h3>

        </div>
        <div class="main-category-card col">
            <img src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000453/P000000444_S100015506.jpg?20230803110649" alt="리모델링&amp;시공">
            <h3>리모델링 & 시공 </h3>

        </div>
        <div class="main-category-card col">
            <img src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000453/P000000444_S100015507.jpg?20230803110649" alt="오피스">
            <h3>오피스</h3>

        </div>
        <div class="main-category-card col">
            <img src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000453/P000000444_S100015510.jpg?20230803110649" alt="중고가구">
            <h3>중고가구</h3>

        </div>
        <div class="main-category-card col">
            <img src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000453/P000000444_S100015508.jpg?20230803110649" alt="">
            <h3>구독 라이프 </h3>

        </div>
    </div>
</div>
</section>

<section class="main-third-section">

    <div class="etc-container">
        <div class="row d-flex justify-content-center">
            <div class="etc-card">
                <a href="">
                    <span>
                        <img class="img" src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000516/P000000460_S100016413.png?20230713081653" alt="">
                    </span>
                    <span class="name">
                        매장찾기
                    </span>
                </a>
            </div>
            <div class="etc-card">
                <a href="">
                    <span>
                        <img class="img" src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000516/P000000460_S100016413.png?20230713081653" alt="">
                    </span>
                    <span class="name">
                        매장찾기
                    </span>
                </a>
            </div>
            <div class="etc-card">
                <a href="">
                    <span>
                        <img class="img" src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000516/P000000460_S100016413.png?20230713081653" alt="">
                    </span>
                    <span class="name">
                        매장찾기
                    </span>
                </a>
            </div>
            <div class="etc-card">
                <a href="">
                    <span>
                        <img class="img" src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000516/P000000460_S100016413.png?20230713081653" alt="">
                    </span>
                    <span class="name">
                        매장찾기
                    </span>
                </a>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="container">

        <a href="https://www.hyundailivart.co.kr/csCenter/shopMgmt?pagecode=D100000455">
            <img src="https://static.hyundailivart.co.kr/upload_mall/view/V000000005/D100000455/P000000445_S100015540.jpg?20230419180935" alt="">
        </a>
    </div>
</section>
<th:block th:replace="common/fragment/footer :: footerFragment()"></th:block>

</body>
</html>