<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livart Life</title>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/standard/standard_detail.css}"/>
    <!-- slick 사용을 위함.  -->
    <script
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <script th:src="@{/js/standard/standard_detail.js}" type="text/javascript"></script>


</head>
<body>
<th:block th:replace="common/fragment/header/header :: headerFragment(0)"></th:block>
<th:block th:replace="common/fragment/header/sub_header :: subHeaderFragment(0)"></th:block>

<div class="lf-pr-summary-container hd__inner1100">
    <div class="lf-pr-summary-img-box">
        <img alt="상품 사진 " th:src="@{/img/standard/product_detail_main_sample.png}"/>
    </div>
    <div class="lf-pr-summary-info">
        <span class="light-gray text-xsm pt-4"> 리바트 > </span>
        <div class="lf-pr-summary-header">
            <span class="lf-pr-name"> 오브니 패브릭 4인 소파 와이드 </span>
            <i class="fa-solid fa-heart fill-heart"></i>
        </div>
        <hr>
        <div class="lf-pr-summary-detail">
            <div class="lf-pr-point d-flex">
                <span class="lf-pr-point-txt text-sm f-bold"> 포인트 3개 </span>
                <img th:each="i : ${#numbers.sequence(1, 4)}" alt="코인 사진" th:src="@{/img/standard/coin.png}"/>
            </div>
            <div class="lf-pr-etc-infos">
                <div class="lr-pr-etc-info">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>상품등급 <span>A+</span></span>
                </div>
                <div class="lr-pr-etc-info">
                    <i class="fa-regular fa-circle-check"></i>
                    <span> 리퍼 상품 이에요.</span>
                </div>
                <p class="lr-pr-etc-subtxt">
                    * 리퍼 상품이란 ? <br>
                    소비자의 단순 변심 등으로 인해 반품된 제품을 재입고 하여 재 점검한 후 현재 판매되고 있는 제품보다 저렴한 가격에 공급하는 상품입니다. <br>
                    본 제품의 기능과 성능은 새 제품과 동일하며 리퍼 상품 특성상 외관에 약간의 흠집이 있을 수 있습니다.
                </p>
            </div>
        </div>

        <div class="lf-pr-options">
            <button class="dropbtn">
                <span class="dropbtn_content"> [필수] 옵션을 선택하세요. </span>
                <span class="dropbtn_click"
                      style="font-family: Material Icons; font-size : 16px; color : #3b3b3b; float:right;"
                      onclick="dropdown()">arrow_drop_down</span>
            </button>
            <div class="dropdown-content">
                <div class="" onclick="showMenu(this.innerText)">상품 옵션 1</div>
                <div class="" onclick="showMenu(this.innerText)">상품 옵션 2</div>
                <div class="" onclick="showMenu(this.innerText)">상품 옵션 3</div>
                <div class="" onclick="showMenu(this.innerText)">상품 옵션 4</div>
            </div>
        </div>

        <div class="lf-pr-submit-btns">
            <button class="lf-btn-brown text-white"> 장바구니 담기</button>
            <button class="lf-btn-light-brown text-white">
                <img alt="카드 사진 " th:src="@{/img/standard/card_logo.png}"/>
                할인 쿠폰 받기
            </button>
        </div>
    </div>

</div>
<div class="lf-pr-main-content hd__inner1100">
    <ul class="main-tab tabs">
        <li class="tab-link current" data-tab="tab-1">상품 정보</li>
        <li class="tab-link" data-tab="tab-2">상품리뷰</li>
        <li class="tab-link" data-tab="tab-3">상품 Q & A</li>
        <li class="tab-link" data-tab="tab-3">배송 정보</li>
    </ul>

    <div id="tab-1" class="tab-content current">
        <div class="tab-pr-maininfo-content">
            <span> * 리퍼 상품이란 ?   </span>
            <span> 소비자의 단순 변심 등으로 인해 반품된 제품을 재입고 하여 재 점검한 후 현재 판매되고 있는 제품보다 저렴한 가격에 공급하는 상품입니다.</span>
            <span> 본 제품의 기능과 성능은 새 제품과 동일하며 리퍼 상품 특성상 외관에 약간의 흠집이 있을 수 있습니다. </span>
            <span class="pr-grade">이 상품은 “S” 등급 상품입니다.</span>
            <div class="page-wrapper">
                <div class="lf-pr-slider">
                    <h1 class="lf-pr-slider-title"> 실제 상품 사진 </h1>
                    <i class="fas fa-chevron-left prev"></i>
                    <i class="fas fa-chevron-right next"></i>
                    <div class="lf-pr-slide-wrapper">
                        <div class="lf-pr-slide-product-img" th:each="i : ${#numbers.sequence(1, 8)}">
                            <img class="pr-real-img" alt="상품 사진 "
                                 th:src="@{/img/standard/product_detail_main_sample.png}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lf-pr-info">
                <img class="pr-real-img" alt="상품 사진" th:src="@{/img/standard/product_detail_pr_sample1.png}">
                <img class="pr-real-img" alt="상품 사진" th:src="@{/img/standard/product_detail_pr_sample2.png}">
                <img class="pr-real-img" alt="상품 사진" th:src="@{/img/standard/product_detail_pr_sample3.png}">
                <img class="pr-real-img" alt="상품 사진" th:src="@{/img/standard/product_detail_pr_sample4.png}">
            </div>

            <!-- 배송 / 환불 안내 -->
            <div class="lf-pr-delivery">
                <p> 배송 / 반품 / 교환안내 </p>
                <hr>
                <ul class="tabs">
                    <li class="">배송안내</li>
                    <li class="">교환 및 반품안내</li>
                </ul>
                <div class="table-dl-wrap">
                    <dl class="table-dl-row">
                        <dt class="table-dl-row__dt">배송유형</dt>
                        <dd class="table-dl-row__dd">현대 리바트 직접배송</dd>
                    </dl>

                    <dl class="table-dl-row">
                        <dt class="table-dl-row__dt">배송료</dt>
                        <dd class="table-dl-row__dd">총 결제금액이 3만원 미만인 경우는 결제 시 3천원의 배송비가 부과 됩니다.</dd>
                        <dd class="table-dl-row__dd">제주도 배송은 소파류 3만원, 가구류 1만5천원의 추가 배송비가 발생합니다.</dd>
                    </dl>

                    <dl class="table-dl-row">
                        <dt class="table-dl-row__dt">배송기간</dt>
                        <dd class="table-dl-row__dd">설치제품, 가구제품: 배송기간은 주문 후 4~5일 정도 소요 됩니다. 결제 후 SMS, 알림톡 또는 유선을 통해 배송일을
                            안내 드립니다.<br>
                            단, 주문의 폭주로 인한 택배지연, 수입지연, 천재지변 등의 경우가 발생되었을 때, 배송이 지연될 수 있으며 이러한 경우 사전에 고객께 SMS, 메일, 혹은 유선을
                            통한 연락으로 배송지연을 안내드리며 상담을 통해 배송일을 재조정 하실 수 있습니다.<br>
                            가구 외 제품: 주문 후 4~10일 정도 소요 됩니다.
                        </dd>
                    </dl>

                    <dl class="table-dl-row">
                        <dt class="table-dl-row__dt">배송일 및 배송지 변경</dt>
                        <dd class="table-dl-row__dd">배송일 3일 전까지 변경이 가능합니다. (내일배송을 선택하신 경우, 주문 당일 13시까지만 변경 가능)<br>
                            변경을 원하시는 고객님께서는 리바트몰 고객센터&nbsp;또는 고객상담실(1577-3332)을 이용해주시기 바랍니다.
                        </dd>
                    </dl>

                    <dl class="table-dl-row">
                        <dt class="table-dl-row__dt">배송 불가 지역</dt>
                        <dd class="table-dl-row__dd">제주도 배송가능합니다. (제주도&nbsp;외 섬지역 배송불가)&nbsp;</dd>
                    </dl>

                    <dl class="table-dl-row">
                        <dt class="table-dl-row__dt">유의사항</dt>
                        <dd class="table-dl-row__dd">장비 사용 및 현장에서 추가 발생하는 비용은 고객님 부담 입니다. <a
                                class="button is-primary is-outlined is-small morebtn"
                                href="https://www.hyundailivart.co.kr/csCenter/notice/B200059617#ladder">내용 더 보기</a><br>
                            3층 사다리차, 엘리베이터 사용료, 지게차 사용료 등 / 1,2층의 경우에도 입구 협소 시 사용될 수 있습니다.<br>
                            엘리베이터나 사다리차 사용이 불가한 현장 상황으로 엔지니어가 직접 제품을 들어 운반할 경우 추가 비용이 부과될 수 있습니다. <a
                                    class="button is-primary is-outlined is-small morebtn"
                                    href="https://www.hyundailivart.co.kr/csCenter/notice/B200059617#manually">내용 더
                                보기</a><br>
                            원활한 설치작업 진행을 위해 설치작업 공간 확보 부탁드립니다.(3m * 2m)<br>
                            주문해 주신 제품이 설치될 공간에 기존 사용 제품이 위치한 경우 배송 전에 미리 정리 부탁드립니다.( 미조치로 추가 작업 발생 시 별도 비용 발생)<br>
                            배송지가 다른 경우 주문 분리가 불가하오니 개별 주문해 주시기 바랍니다.
                        </dd>
                    </dl>
                </div>

            </div>
            <!-- 배송 / 환불 안내 종료 -->

            <div class="lf-recommendation-product">
                <p> 카테고리 BEST </p>
                <hr>
                <div class="lf-recommendation-body">
                    <div class="lf-recommendation-page-wrapper">
                        <div class="lf-recommendation-slide">
                            <div class="lf-recommendation-slide-wrapper">
                                <a class="lf-recommendation-slide-product-img" th:each="i : ${#numbers.sequence(1, 8)}">
                                    <img class="pr-real-img" alt="상품 사진 "
                                         th:src="@{/img/standard/product_detail_main_sample.png}"/>
                                    <span> 리바트 라이프 </span>
                                    <p> 한정수량 ★ 리프트업 테이블 </p>
                                    <img class="coin-img" alt="상품 사진 "
                                         th:src="@{/img/standard/coin.png}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- 상품 리뷰  -->
    <div id="tab-2" class="tab-content">
        <div class="review-header">
            <span> 상품 리뷰  </span>
            <a th:href="@{/standard/review}" class="review-write-btn"> 리뷰 작성 </a>
        </div>
        <hr>
        <img class="review-banner-img" alt="리뷰 배너 "
             th:src="@{/img/standard/review_banner.png}"/>

        <span class="review-sub-header"> 상품리뷰 (15)</span>
        <hr>
        <div class="review-card">
            <i th:each="i : ${#numbers.sequence(1, 4)}"  class="fa-solid fa-star"></i>
            <span> 5.0 </span> |  <span> 로에프 원목다리 티테이블 </span> | <span>리바트 라이브 고객 후기</span>
            <span class="review-writer"> 김승주 님 | 2023.08.14</span>
            <div class="review-card-content">
                <img alt="리뷰 사진 " th:src="@{/img/standard/product_detail_main_sample.png}"/>
                <p> 리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용 리뷰 내용
                </p>
            </div>

        </div>

    </div>
    <div id="tab-3" class="tab-content">tab content3</div>
    <div id="tab-4" class="tab-content">tab content4</div>
</div>
<th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>

</body>
</html>