<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosa.com.suntofu.L_LIFE.member.dao.MemberDao">

    <insert id="insertMember" parameterType="MemberVo">
        insert into member (m_email, m_name, m_gender, m_profile)
        values (#{mEmail}, #{mName}, #{mGender}, #{mProfile})
    </insert>

    <select id="selectMemberByEmail" parameterType="String" resultType="MemberVo">
        select * from member
        where m_email = #{mEmail}
    </select>

    <select id="getCurrentCoin" parameterType="int" resultType="int">
        -- 스탠다드 회원 보유 코인 조회 --
        select
        subscribe.SUBSCRIBE_POINT
        from
        SUBSCRIPTION subscribe
        where
        subscribe.M_ID = 1
    </select>

</mapper>