<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosa.com.suntofu.L_LIFE.member.dao.MemberDao">

    <insert id="insertMember" parameterType="MemberVo">
        insert into member (m_email, m_name, m_gender, m_profile)
        values (#{mEmail}, #{mName}, #{mGender}, #{mProfile})
    </insert>

    <select id="selectMemberByEmail" parameterType="String" resultType="MemberVo">
        select * from member
        where m_email = #{mEmail}
    </select>

    <select id="getCurrentCoin" parameterType="int" resultType="java.lang.Integer">
        -- 스탠다드 회원 보유 코인 조회 --
        select
            subscribe.SUBSCRIBE_POINT
        from
            SUBSCRIPTION subscribe
        where
            subscribe.M_ID = #{memberId}
        and
            subscribe.SUBSCRIBE_TYPE = 0
    </select>

    <select id="getOrderCount" parameterType="int" resultType="java.lang.Integer">
        -- 주문내역 개수 --
        SELECT
            COUNT(*)
        FROM
            LFSUBSCRIPTIONLIST SUB_LF
                JOIN
            SUBSCRIPTION SUB on SUB_LF.SUBSCRIPTION_ID = SUB.SUBSCRIPTION_ID
        WHERE
            SUB.M_ID = #{memberId}
    </select>


    <select id="getDeliveryReadyStatus" parameterType="java.lang.Integer">
        -- 배송 준비
        SELECT
            count(*) as STATUS_COUNT
        FROM
            DELIVERY D
                JOIN
            LFSUBSCRIPTIONLIST SUB_LF on D.SUB_LF_ID = SUB_LF.SUB_LF_ID
                JOIN
            SUBSCRIPTION S on SUB_LF.SUBSCRIPTION_ID = S.SUBSCRIPTION_ID
        WHERE
            S.M_ID = #{memberId}
          and
            D.DELIVERY_STATUS = 0
    </select>

    <select id="getDeliveryProgressStatus" parameterType="java.lang.Integer">
        -- 배송 중
        SELECT
            count(*) as STATUS_COUNT
        FROM
            DELIVERY D
                JOIN
            LFSUBSCRIPTIONLIST SUB_LF on D.SUB_LF_ID = SUB_LF.SUB_LF_ID
                JOIN
            SUBSCRIPTION S on SUB_LF.SUBSCRIPTION_ID = S.SUBSCRIPTION_ID
        WHERE
            S.M_ID = #{memberId}
          and
            D.DELIVERY_STATUS = 1
    </select>

    <select id="getDeliveryCompleteStatus" parameterType="java.lang.Integer">
        -- 배송 완료
        SELECT
            count(*) as STATUS_COUNT
        FROM
            DELIVERY D
                JOIN
            LFSUBSCRIPTIONLIST SUB_LF on D.SUB_LF_ID = SUB_LF.SUB_LF_ID
                JOIN
            SUBSCRIPTION S on SUB_LF.SUBSCRIPTION_ID = S.SUBSCRIPTION_ID
        WHERE
            S.M_ID = #{memberId}
          and
            D.DELIVERY_STATUS = 2
    </select>

    <select id="getStSubId" parameterType="int" resultType="int">
        -- 스탠다드 구독 id 조회
        select
            sub.SUBSCRIPTION_ID
        from
            SUBSCRIPTION sub
        where
            sub.M_ID = #{memberId}
          and
            sub.SUBSCRIBE_TYPE = 0
          and
            sub.SUBSCRIBE_STATUS = 1
    </select>

    <select id="getPrSubId" parameterType="int" resultType="int">
        -- 프리미엄 구독 id 조회
        select
            sub.SUBSCRIPTION_ID
        from
            SUBSCRIPTION sub
        where
            sub.M_ID = #{memberId}
          and
            sub.SUBSCRIBE_TYPE = 1
          and
            sub.SUBSCRIBE_STATUS = 1
    </select>


    <select id="getStandardSubscription" parameterType="int" resultType="SubscriptionVo">
        -- 스탠다드 구독 정보 가져오기 --
        select
            *
        from
            SUBSCRIPTION sub
        where
            sub.M_ID = #{memberId}
          and
            sub.SUBSCRIBE_TYPE = 0
          and
            sub.SUBSCRIBE_STATUS = 1
    </select>

    <select id="getPremiumSubscription" parameterType="int" resultType="SubscriptionVo">
        -- 프리미엄 구독 정보 가져오기 --
        select
            *
        from
            SUBSCRIPTION sub
        where
            sub.M_ID = #{memberId}
          and
            sub.SUBSCRIBE_TYPE = 1
          and
            sub.SUBSCRIBE_STATUS = 1
    </select>

</mapper>