<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosa.com.suntofu.L_LIFE.premium.dao.PremiumDao">
    <!-- 프리미엄 상품 리스트 -->
    <select id="selectPremiumProductList">
        SELECT lf.lf_img_main, lfb.lf_brand_name, lf.lf_name, lf.lf_pr_price
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE lf_sub_type = 1
    </select>

    <!-- pagination 전체 상품 개수 구하기 -->
    <select id="selectProductCountPagination" resultType="_int">
        SELECT count(*)
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE lf_sub_type = 1
    </select>

    <!-- pagination 카테고리별 상품 개수 구하기 -->
</mapper>