<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosa.com.suntofu.L_LIFE.premium.dao.PremiumDao">
    <!-- 프리미엄 상품 리스트 -->
    <select id="selectPremiumProductList">
        SELECT lf.lf_id, lf.lf_img_main, lfb.lf_brand_name, lf.lf_name, lf.lf_pr_price
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE lf_sub_type = 1
        OFFSET #{offset} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <!-- pagination 전체 상품 개수 구하기 -->
    <select id="selectProductCountPagination" resultType="_int">
        SELECT count(*)
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE lf_sub_type = 1
    </select>

    <!-- 프리미엄 상품 카테고리 필터링 -->
    <select id="selectProductByCategory" parameterType="PaginationVo" resultType="PremiumVo">
        SELECT lf.lf_id, lf.lf_img_main, lfb.lf_brand_name, lf.lf_name, lf.lf_pr_price
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        JOIN LFurnitureCategory lfc
        ON lf.lf_category_id = lfc.lf_category_id
        WHERE lf_sub_type = 1
        AND lfc.lf_category_id = #{lfCategoryId}
        OFFSET #{offset} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectProductCountByCategoryByPagination" parameterType="PaginationVo" resultType="_int">
        SELECT count(*)
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        JOIN LFurnitureCategory lfc
        ON lf.lf_category_id = lfc.lf_category_id
        WHERE lf_sub_type = 1
        AND lfc.lf_category_id = #{lfCategoryId}
    </select>

    <!-- 프리미엄 상품 검색 -->
    <select id="selectProductByKeyword" parameterType="PaginationVo">
        SELECT lf.lf_id, lf.lf_img_main, lfb.lf_brand_name, lf.lf_name, lf.lf_pr_price
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE lf_sub_type = 1
        AND (UPPER(lfb.lf_brand_name) LIKE '%' || UPPER(#{keyword}) || '%'
        OR UPPER(lf.lf_name) LIKE '%' || UPPER(#{keyword}) || '%')
        OFFSET #{offset} ROWS FETCH NEXT 20 ROWS ONLY
    </select>

    <select id="selectProductByKeywordPagination" parameterType="PaginationVo" resultType="_int">
        SELECT count(*)
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE lf_sub_type = 1
        AND
        (UPPER(lfb.lf_brand_name) LIKE '%' || UPPER(#{keyword}) || '%'
        OR UPPER(lf.lf_name) LIKE '%' || UPPER(#{keyword}) || '%')
    </select>

    <select id="selectProductByFilter" parameterType="PaginationVo">
        SELECT lf.lf_id, lf.lf_img_main, lfb.lf_brand_name, lf.lf_name, lf.lf_pr_price, lfb.lf_brand_id
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        JOIN LFurnitureMood lfm
        ON lf.lf_mood_id = lfm.lf_mood_id
        WHERE lf.lf_sub_type = 1
        <!-- 브랜드 조건 -->
        <if test="lfBrandIds != null and lfBrandIds.size() > 0">
            AND lfb.lf_brand_id IN
            <foreach collection="lfBrandIds" item="brandId" open="(" separator="," close=")">
                #{brandId}
            </foreach>
        </if>
        <!-- 분위기 조건 -->
        <if test="lfMoodIds != null and lfMoodIds.size() > 0">
            AND lfm.lf_mood_id IN
            <foreach collection="lfMoodIds" item="moodId" open="(" separator="," close=")">
                #{moodId}
            </foreach>
        </if>
        <!-- 가격 조건 -->
        <if test="minPrice != null and maxPrice != null">
            AND lf.lf_pr_price BETWEEN #{minPrice} AND #{maxPrice}
        </if>
        OFFSET #{offset} ROWS FETCH NEXT 20 ROWS ONLY
    </select>


    <!-- 프리미엄 상품 상세 -->
    <select id="selectPremiumProductDetailById" parameterType="PremiumVo">
        SELECT lf.lf_id, lf.lf_img_main, lfb.lf_brand_name, lf.lf_name, lf.lf_pr_price, lf.lf_pr_min_period
        FROM LLifeFurniture lf
        JOIN LFurnitureBrand lfb
        ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE lf_sub_type = 1
        AND lf_id = #{lfId}
    </select>

    <!-- 상품 상세 이미지 목록 -->
    <select id="selectProductImgById" parameterType="PremiumVo">
        SELECT lf.LF_ID, lfi.LF_IMG_URL, lfi.IMG_COMMENT
        FROM LLIFEFURNITURE lf
        JOIN LFURNITUREIMAGE lfi
        ON lf.LF_ID = lfi.LF_ID
        WHERE lf_sub_type = 1
        AND lf.lf_id = #{lfId}
    </select>

    <!-- 프리미엄 상품 옵션 -->
    <select id="selectPremiumOptionById" resultType="PremiumOptionVo">
        SELECT s.lf_id, s.stock_amount, lfo.lf_opt_id, lfo.lf_opt_name
        FROM Stock s
        JOIN LFurnitureOption lfo
        ON s.lf_opt_id = lfo.lf_opt_id
        WHERE s.lf_id = #{lfId}
    </select>

    <!-- 프리미엄 상품 재입고 알림 신청 -->
    <select id="selectPremiumStockAmount" resultType="PremiumOptionVo">
        SELECT s.lf_opt_id, s.lf_id, s.stock_amount
        FROM Stock s
        WHERE s.lf_opt_id = #{lfOptId}
        AND s.lf_id = #{lfId}
    </select>

    <!-- 재입고 알림 신청 시 예약 테이블에 insert -->
    <insert id="insertOptionToReservation" parameterType="PremiumOptionVo">
        INSERT INTO reservation (m_id, lf_id, lf_opt_id)
        VALUES (#{mId}, #{lfId}, #{lfOptId})
    </insert>

    <!-- 장바구니에 상품 넣기 -->
    <insert id="insertPremiumProductToCart" parameterType="PremiumOptionVo">
        INSERT INTO cart (m_id, lf_id, lf_opt_id)
        VALUES (#{mId}, #{lfId}, #{lfOptId})
    </insert>

    <!-- 프리미엄 비슷한 가격대의 상품 추천 -->
    <select id="selectPremiumRecommendation" parameterType="PremiumVo">
        <![CDATA[
        SELECT lf.lf_id, lf.lf_img_main, lfb.lf_brand_name, lf.lf_name, lf.lf_pr_price
        FROM LLIFEFURNITURE lf
        JOIN LFURNITUREBRAND lfb
        ON lf.LF_BRAND_ID = lfb.LF_BRAND_ID
        WHERE lf.lf_pr_price >= #{lfPrPrice}*0.8
        AND lf.lf_pr_price <= #{lfPrPrice}*1.2
        AND lf.lf_id != #{lfId}
        ]]>
    </select>

    <!-- 프리미엄 패키지 라인 -->
    <select id="selectMDPickPackages" resultType="PackageVo">
        select *
        from LFPACKAGE
        where LF_PACKAGE_TYPE =1 and IS_MD_PICK=1
    </select>

    <select id="selectPromotionPackages" resultType="PackageVo">
        select *
        from LFPACKAGE
        where LF_PACKAGE_TYPE =1 and IS_PROMOTION=1
    </select>

    <select id="selectRecommendationPackages" resultType="PackageVo">
        select *
        from LFPACKAGE
        where LF_PACKAGE_TYPE =1 and IS_PROMOTION=0 and IS_MD_PICK =0
    </select>

    <resultMap id="packageDetail" type="PackageDetailVo">
    <id property="lfPackageId" column="LF_PACKAGE_ID"/>
    <result property="lfPackageName" column="LF_PACKAGE_NAME"/>
    <result property="lfPackageType" column="LF_PACKAGE_TYPE"/>
    <result property="lfPackageImg" column="LF_PACKAGE_IMG"/>
    <collection property="lfPackageProducts" ofType="PremiumVo">
        <id property="lfId" column="lf_id"/>
        <result property="lfName" column="lf_name"/>
        <result property="lfSubType" column="lf_sub_type"/>
        <result property="lfBrandName" column="lf_brand_name"/>
        <result property="lfName" column="lf_name"/>
        <result property="lfImgMain" column="lf_img_main"/>
        <result property="lfPrPrice" column="lf_pr_price"/>
        <result property="lfPrMinPeriod" column="lf_pr_min_peroid"/>
    </collection>
</resultMap>

    <select id="selectPackageDetail" parameterType="int" resultMap="packageDetail">
        select *
        from LFPACKAGE lfp
                 join LFPACKAGECATALOG lfc
                      on lfp.LF_PACKAGE_ID = lfc.LF_PACKAGE_ID
                 Join LLIFEFURNITURE f
                      on lfc.LF_ID = f.LF_ID
        where lfc.LF_PACKAGE_ID = #{lfPackageId}
    </select>

</mapper>