<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosa.com.suntofu.L_LIFE.standard.dao.StandardDAO">


    <!-- 스탠다드 메인 (가구이미지, 가구명, 가구브랜드, 코인개수) -->
    <select id = "selectAllStandard" resultType="StandardVo">
        SELECT
        f.f_id,
        f.f_name,
        lf.lf_st_coin,
        img.f_img_url,
        brand.f_brand_name
        FROM
        Furniture f
        JOIN
        LLifeFurniture lf ON f.f_id = lf.f_id
        JOIN
        FurnitureImage img ON f.f_id = img.f_id
        JOIN
        FurnitureBrand brand ON f.f_brand_id = brand.f_brand_id
        WHERE
        lf.lf_sub_type = 0
        AND
        img.f_img_seq = 0
    </select>


    <!-- 라이브 리스트 가져오기 -->
    <select id = "selectAllLiveStream" resultType="StandardLiveVo">
        SELECT
        LS.l_stream_name,
        LS.l_stream_time,
        TO_CHAR(LS.l_stream_time, 'MM/DD') AS stream_date,
        TO_CHAR(LS.l_stream_time, 'HH24:MI') AS stream_time,
        LFP.lf_package_name,
        LFP.lf_package_img,
        LFP.lf_package_st_coin
        FROM
        LSProduct LSP
        JOIN
        LiveStream LS ON LSP.l_stream_id = LS.l_stream_id
        JOIN
        LFPackage LFP ON LSP.lf_package_id = LFP.lf_package_id
        WHERE
        LFP.lf_package_type = 0
    </select>

    <!-- 카테고리 필터 -->
    <select id="selectStandardCategory" resultType="StandardVo">
        SELECT
            F.f_id,
            F.f_name,
            LF.lf_st_coin,
            FI.f_img_url,
            FB.f_brand_name,
            FC.f_category_id
        FROM
            Furniture F
        JOIN
            FurnitureCategory FC ON F.f_category_id = FC.f_category_id
        JOIN
            LLifeFurniture LF ON F.f_id = LF.f_id
        JOIN
            FurnitureBrand FB ON F.f_brand_id = FB.f_brand_id
        JOIN
            FurnitureImage FI ON F.f_id = FI.f_id
        WHERE
            FC.f_category_id = #{fCategoryId}
    </select>

    <!-- 상품(브랜드) 필터 -->
    <select id="selectStandardBrand" resultType="StandardVo">
        SELECT a.*, b.*, c.*
        FROM Furniture a
        JOIN FurnitureBrand b ON a.f_brand_id = b.f_brand_id
        JOIN LLifeFurniture c ON a.f_id = c.f_id
        WHERE b.f_brand_name = #{fBrandName}
    </select>

    <!-- 상품(분위기) 필터 -->
    <select id="selectStandardMood" resultType="StandardVo">
        SELECT a.*, b.*, c.*
        FROM Furniture a
        JOIN FurnitureMood b ON a.f_mood_id = b.f_mood_id
        JOIN LLifeFurniture c ON a.f_id = c.f_id
        WHERE b.f_mood_name = #{fMoodName}
    </select>

    <!-- 상품(가격) 필터 -->

</mapper>
