<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kosa.com.suntofu.L_LIFE.standard.dao.StandardDAO">

    <!-- 스탠다드 메인 (가구이미지, 가구명, 가구브랜드, 코인개수) -->
    <select id = "selectAllStandard">
        SELECT
            lf.lf_id,
            lf.lf_img_main,
            lfb.lf_brand_name,
            lf.lf_name,
            lf.lf_st_coin
        FROM
            LLifeFurniture lf
        JOIN
            LFurnitureBrand lfb ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE
            lf_sub_type = 0
    </select>

    <!-- 라이브 리스트 가져오기 -->
    <select id = "selectAllLiveStream" resultType="StandardLiveVo">
        SELECT
            LS.l_stream_name,
            LS.l_stream_time,
            TO_CHAR(LS.l_stream_time, 'MM/DD') AS stream_date,
            TO_CHAR(LS.l_stream_time, 'HH24:MI') AS stream_time,
            LFP.lf_package_name,
            LFP.lf_package_img,
            LFP.lf_package_st_coin
        FROM
            LSProduct LSP
        JOIN
            LiveStream LS ON LSP.l_stream_id = LS.l_stream_id
        JOIN
            LFPackage LFP ON LSP.lf_package_id = LFP.lf_package_id
        WHERE
            LFP.lf_package_type = 0
    </select>

    <!-- 카테고리 필터 -->
    <select id="selectStandardProductByCategory" resultType="StandardVo">
        SELECT
            lf.lf_id,
            lf.lf_img_main,
            lfb.lf_brand_name,
            lf.lf_name,
            lf.lf_st_coin,
            lfc.lf_category_id
        FROM
            LLifeFurniture lf
        JOIN
            LFurnitureBrand lfb ON lf.lf_brand_id = lfb.lf_brand_id
        JOIN
            LFurnitureCategory lfc ON lf.lf_category_id = lfc.lf_category_id
        WHERE
            lfc.lf_category_id = #{fCategoryId}
        AND
            lf_sub_type = 0
    </select>

    <!-- 상품 검색(브랜드명, 상품명) -->
    <select id="selectStandardProductByKeyword" resultType="StandardVo">
        SELECT
            lf.lf_id,
            lf.lf_img_main,
            lfb.lf_brand_name,
            lf.lf_name,
            lf.lf_st_coin
        FROM
            LLifeFurniture lf
        JOIN
            LFurnitureBrand lfb ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE
            lf.lf_sub_type = 0
        AND
            (UPPER(lfb.lf_brand_name) LIKE '%' || UPPER(#{keyword}) || '%'
             OR UPPER(lf.lf_name) LIKE '%' || UPPER(#{keyword}) || '%')
    </select>

    <!-- 스탠다드 상품(브랜드, 분위기, 코인개수) 검색 -->
    <select id="searchStandardProductByFilter" resultType="StandardVo">
        SELECT
            lf.lf_id,
            lf.lf_img_main,
            lfb.lf_brand_name,
            lf.lf_name,
            lf.lf_st_coin,
            lfb.lf_brand_id
        FROM
            LLifeFurniture lf
        JOIN
            LFurnitureBrand lfb ON lf.lf_brand_id = lfb.lf_brand_id
        JOIN
            LFurnitureMood lfm ON lf.lf_mood_id = lfm.lf_mood_id
        WHERE
           lf.lf_sub_type = 0
        AND
            lfb.lf_brand_id IN
            <foreach collection="lfBrandIds" item="brandId" open="(" separator="," close=")">
                #{brandId}
            </foreach>
        AND
            lfm.lf_mood_id IN
            <foreach collection="lfMoodIds" item="moodId" open="(" separator="," close=")">
                #{moodId}
            </foreach>
        AND
           lf.lf_st_coin BETWEEN #{minCoin} AND #{maxCoin}
    </select>

    <!-- 스탠다드 디테일 페이지 -->
    <select id = "selectStandardDetailById">
        SELECT
            lf.lf_id,
            lf.lf_img_main,
            lfb.lf_brand_name,
            lf.lf_name,
            lf.lf_st_coin,
            lf.lf_st_grade,
            lf.lf_sub_comment
        FROM
            LLifeFurniture lf
        JOIN
            LFurnitureBrand lfb ON lf.lf_brand_id = lfb.lf_brand_id
        WHERE
            lf_sub_type = 0
        AND
            lf_id = #{lfId}
    </select>

    <select id="selectStandardOptionById" resultType="StandardOptionVo">
        SELECT
            lf.lf_id,
            lfo.lf_opt_id,
            lfo.lf_opt_name
        FROM
            LLifeFurniture lf
        JOIN
            LFurnitureOption lfo ON lf.lf_id = lfo.lf_id
        WHERE
            lf.lf_sub_type = 0
        AND
            lf.lf_id = #{lfId}
    </select>

    <select id="selectStandardRefurById" resultType="StandardRefurVo">
        SELECT
            lf.lf_id,
            lf.lf_st_grade,
            rfi.refur_img_id,
            rfi.refur_img_url
        FROM
            LLifeFurniture lf
        JOIN
            RefurbishImage rfi ON lf.lf_id = rfi.lf_id
        WHERE
            lf.lf_sub_type = 0
        AND
            lf.lf_id = #{lfId}
    </select>

    <!-- 스탠다드 추천 -->
    <select id="selectStandardRecommendation" resultType="StandardVo">
        SELECT
            lf.lf_id,
            lf.lf_img_main,
            lfb.lf_brand_name,
            lf.lf_name,
            lf.lf_st_coin
        FROM
            LLifeFurniture lf
        JOIN
            LFurnitureCategory lfc ON lf.lf_category_id = lfc.lf_category_id
        JOIN
            LFurnitureBrand lfb ON lf.lf_brand_id = lfb.lf_brand_id
        JOIN
            LLifeFurniture recommend ON lf.lf_category_id = recommend.lf_category_id
        WHERE
            recommend.lf_sub_issub = 0
        AND
            lf.lf_sub_type = 0
        AND
            recommend.lf_id IN (
                SELECT #{lfId}
                FROM LLifeFurniture
                WHERE lf_category_id = lf.lf_category_id
                AND lf_sub_issub = 0
        )
        ORDER BY DBMS_RANDOM.VALUE
    </select>

    <!--스탠다드 재입고 알림 신청-->
    <select id="selectStandardStockAmount">
        SELECT
            lf.lf_id,
            st.stock_id,
            st.stock_amount
        FROM
            LLifeFurniture lf
                JOIN
            Stock st ON lf.lf_id = st.lf_id
        WHERE
            lf.lf_sub_type = 0
          AND lf.lf_id = #{lfId}
    </select>




</mapper>
