footer{
    margin-top:40px;
    background-color: #333;
}
.footer_inner{
    margin-bottom:60px;

}
.footer-top{
    min-height: 116px;
    padding: 45px 0;

}
.footer-top-menu{
    float: left;
    font-size: 14px;

}
.footer-top-menu * {
    color:white;
    text-decoration: none;
}
.footer-top-menu ul, .footer-bottom-menu ul {
    display: flex;
    list-style: none;
}
.footer-top li:first-child {
    padding-left: 0;
}

.footer-top li {
    position: relative;
    display: inline-block;
    padding: 0 15px;
}
.footer-bottom *{
    color:white;

}
.footer-bottom-menu.float-left {
    background-color: #f0f0f0;
    color: #333;
}