footer{
    margin-top:40px;
    height:350px;
    background-color: #333;
}
.float-left{
    float:left;
}
.float-right{
    float: right;
}
.footer_inner{
    padding-left: 50px;
    width: 1400px;
    margin : 0 auto;

}
.footer-top{
    min-height: 116px;
    padding: 45px 0;

}

.footer-top-menu{
    float: left;
    font-size: 14px;

}
.footer-top-menu * {
    color:white;
    text-decoration: none;
}
.footer-top-menu ul, .footer-bottom-menu ul {
    display: flex;
    list-style: none;
}
.footer-top li:first-child , .footer-bottom li:first-child {
    padding-left: 0;
}

.footer-top li , .footer-bottom li{
    position: relative;
    display: inline-block;
    padding: 0 15px;
}
.footer-bottom *{
    color:white;

}
.footer-bottom-left-top{
    height:60px;
}
.footer-bottom-left{
    display: inline-block;
}
.footer-bottom-right {
    display: flex;
    float: right;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}

.footer-bottom-right-qr > img{
    width: 70px;
    height: auto;
}
.footer-bottom-right-qr > span{
    text-align: right;
    margin-right: 5px;
}
.footer-bottom-service ul{
    margin-top:15px;
    margin-bottom: 15px;
}
.footer-bottom-menu.float-left {
    color: #333;
}