.container {
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

main {
    display: flex;
}

.mypage-sidebar {
    width: 300px;
    padding-right: 60px;
}

.mypage-content {
    width: 800px;
}

.hr {
    width: 150px;
    height: 1px;
    border-top: 0.5px solid #5D493E;
}

.mypage-menu {
    list-style-type: none;
    padding: 0;
}

.mypage-menu > li {
    margin-bottom: 15px;
}

.mypage-menu a {
    text-decoration: none;
    color: #333; /* Change to your preferred color */
}

.mypage-menu a:hover {
    text-decoration: underline;
}

.mypage-menu li ul {
    margin-top: 5px;
    margin-left: 20px;
}

.mypage-menu li ul li {
    margin-bottom: 5px;
}

/* @@님위 */
.username {
    margin-top: 90px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #5D493E;
}

.mypage-text {
    font-size: 30px;
    margin-bottom: 35px;
    color: #333333;
}

.header-title {
    color: #5D493E;
    margin-top: 35px;
    font-size: 20px;
}

.header-list {
    color: #333333;
    margin-top: 10px;
    font-size: 15px;
}