<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="content">
    <div class="stream-chat-box-onboard">
        <!--        <i class="fa-solid fa-hourglass-half hourglass" style="color: #c9cbcf;"></i>-->
        <!--        <p> 채팅은 라이브가 시작되면 참여하실 수 있습니다. </p>-->
        <!--        <p> 라이브가 시작하기 전까지 기다려주세요. </p>-->
        <div class="chat-box" id="msgArea">
            <p class="chat"> <span class="chat-user"> 라이브 MD ⚽️ </span>리바트 라이프 구독 서비스 홍보 라이브 인가요? </p>
            <p class="chat">  <span class="chat-user"> 라이브 MD ⚽️ </span> 할인이 많아서 좋습니다.   </p>
            <p class="chat chat-blue">  <span class="chat-user"> 라이브 MD ⚽️ </span> 라이브 방송 좋아요    </p>

        </div>
        <div class="chat-btn-box">
            <input class="chat-input" id="msg">
            <button class="chat-submit-btn" id="button-send">
                <img alt="라이브 샘플 사진" th:src="@{/img/livestream/livestream_chat_btn.png}"/>

            </button>
        </div>
    </div>
    <input id="memberName" type="hidden" th:value="${session.existingMember.mName}">
</th:block>
<script th:src="@{/js/chat/chat.js}" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
</html>