.pr-top-banner{
    background: #EEE9E3;
    height: 500px;
    margin-top:200px;
    position: relative;
    display: flex;
    justify-content: center;
}

.pr-main-content{
    position: absolute;
    min-height: 500px;
    top: 80px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pr-main-content-top{
    display: flex;
    justify-content: center;

}
.pr-main-left{
    width: 50%;
    min-height: 500px;
    padding-right:30px;
    display: flex;
    flex-direction: column;

}
.pr-main-right{
    width: 50%;
    min-height: 500px;

}
.pr-left-top{
    margin-bottom: 100px;
}
.pr-left-top .brand{
    margin-bottom: 20px;
}
.pr-left-top .package-name{
    font-size: 24px;
}
.pr-right-top{
    width: 90%;
}
.pr-right-bottom{

}
.pr-right-bottom p{
    width: 90%;
    margin-top: 20px;
}
video{
    display: inline-block;
    width: 450px;
    height: 600px;
    object-fit: fill;
    padding: 0;
}
.pr-right-top img{
    width: 100%;
    max-height: 600px;
    object-fit: unset;
}
.body-content{
    height:120%;
}
.pr-package-product{
    width: 100%;
    height: 400px;
    margin-top : 80px;
}
.pr-pack-slider{
}
.pr-pack-slider-wrapper{
    display: flex;
}
.pr-pack-product{
    width: 250px;
    display: flex;
    margin: 0px 10px 0px 10px;
    flex-direction: column;
}
.lf-pr-slide-product-img{
    width: inherit;
}
.lf-pr-slide-product-img img{
    width: inherit;
    height: 250px;
}