.sl-top-banner {
    width: 100%;
    height: 300px;
    position: relative;
    margin-bottom: 70px;
    margin-top: 205px;
}

.sl-top-banner > img {
    width: 100%;
    height: inherit;
}


.banner-guide {
    position: absolute;
    right: 450px;
    top: 40px;
    background-color: white;
    color: #C1B9A9;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
}

.banner-guide:hover {
    background-color: white;
    color: #C1B9A9;
}
    .banner-user {
    position: absolute;
    right: 450px;
    top: 125px;
    font-weight: bold;
    font-size: 31px;
    color: white;
    border-radius: 20px;
}

.sl-main-content {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.sl-main-products {
    margin-left: 100px;
    width: 1080px;

}

.sl-main-live-products{
    margin-bottom: 100px;
    width: 1080px !important;
    display: flex !important;
    justify-content: space-between;
    height: 110% !important;
}
.sl-main-live-product{
    display: flex;
    justify-content: space-between;
    width: 272px !important;
}
.sl-live-slider{
    height: 420px !important;
}
.sl-live-box {
    display: block;
    height: 300px;
    width: 240px;
    position: relative;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;
}
.sl-live-box:hover{
    color:#666666 ;
}
.sl-live-box-user{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.sl-live-box-user > span{
    margin-left: 10px;
    font-size: 15px;
    color: darkgray;
}
.sl-live-box >p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 20px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 검은색 반투명 배경색 설정 */
    pointer-events: none;
}
.share-btn-box{
    display: flex;
    background: #FF3B3C;
    width: 80%;
    height: 40px;
    align-items: center;
    position: absolute;
    left: 10%;
    bottom: 30px;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 15);
}
.share-btn-box > i {
    width: 20%;
    border-right: 1px solid white;
    padding: 10px;
}
.share-btn-txt{
    margin-left: 25px;
}
.sl-live-box-day-txt{
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.sl-live-box-time-txt{
    position: absolute;
    left: 30%;
    top: 43%;
    font-size: 35px;
    color: white;
    font-weight: bold;
}
.sl-live-box-ex-txt{
    position: absolute;
    left: 38%;
    top: 58%;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.sl-live-box > img {
    width: 100%;
    height: inherit;
    display: flex !important;
}

.sl-live-box-info {
    position: absolute;
    height: 50px;
    width: 95%;
    bottom: 10px;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.sl-live-box-info-img {
    width: 25%;
    height: inherit;
    border-radius: 5px 0px 0px 5px;
}

.sl-live-box-info-title {
    width: 90%;
    font-color: white;
    color: white;
    padding: 5px 0px 5px 7px;
}

.sl-live-box-info-title > span {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}
.sl-main-sub{
    margin-top: 30px;
}
.sl-main-sub > ul{
    display: flex;
    float: right;
    margin-right: 25px;
    font-size: 16px;
    color: #aeaeae;
}
.sl-main-sub > ul > li{
    margin-right: 15px;
}

.sl-main-sub-products{
    margin-bottom: 100px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top:10px;
    justify-content: flex-start;
}
.sl-main-sub-product{
    height: 340px;
    position: relative;
    margin-bottom: 40px;
    margin-right: 16px;
    width: 250px;
}
.sl-main-sub-product >  a{
    text-decoration: none;
    color: #666666;
}

.sl-main-sub-product > a:hover {
    text-decoration: none;
    color: inherit;
}

.sl-main-sub-product-img{
}
.sl-main-sub-product-img > img{
    width:100%;
    object-fit: fill;
    height: 220px;
}
.sl-main-sub-products-txt {
    color: gray;
    font-size: 24px;
}
.sl-main-sub-product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sl-main-sub-product-price > span {
    pointer-events: none;

}
.coin-img-box{
    display: flex;
}
.coin-img-box .coin-img{
    width:14px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.txt-pink {
    color: #ED2650;
}

.sub-product-card {
    height: 300px;
    width: 240px;
    padding: 20px;
    border: 2px solid gray;
    margin-bottom: 40px;
}

.pl-search-box {
    margin: 50px 30px 30px 0;
    display: flex;
    justify-content: flex-end;
}
.pl-search-box {
    position: relative;
}

.pl-search-box > input[type="text"] {
    height: 41px;
    background: white;
    border: 1.5px solid #5D493E;
    border-radius: 15px;
    color: black;
    width: 500px;
    padding-left: 15px;
    padding-right: 50px;
}

.pl-search-box > input[type="text"]:hover {
    border: 2px solid #5D493E;
    background: #f0f0f0;
}

.pl-search-box > input[type="text"]:focus {
    border: 2px solid #5D493E;
    outline: none;
}

.pl-search-box > input[type="image"] {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 22px;
    width: auto;
    border: none;
    background: none;
}

.search-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 22px;
    width: auto;
    border: none;
    background: none;
}
.sl-main-sub-product-txt > p{
    min-height: 48px;
}