<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/fragment/commonHead"></th:block>

    <link rel="stylesheet" type="text/css" th:href="@{/css/subscription/premium_payment_detail.css}"/>

</head>
<body>
<header>
    <div class="header-main">
        <div class="header-logo">
            <img th:src="@{/img/header/logo_l_life_b.png}"/>
        </div>
    </div>
</header>
<div class="hd__inner1100">
    <div class="text-lg" style=>
        주문 결제
    </div>
    <hr class="hr">
    <div class="st-payment">
        <div class="sub-title">
            주문자 정보
        </div>
        <div class="st-payment-user">
            <div class="align-vertical">
                <div class="st-payment-username">
                    <span class="st-payment-row"> * </span>
                    <span> 주문자 </span>
                </div>
                <input type="text" class="st-payment-username-input">
            </div>
        </div>

        <div class="st-payment-tel">

            <div class="st-payment-telnum">
                <span class="st-payment-row"> * </span>
                <span> 휴대폰 번호 </span>
            </div>
            <select class="st-payment-tel-input">
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="017">017</option>
            </select>
            <input th:type="text" class="st-payment-tel-input">
            <input th:type="text" class="st-payment-tel-input">
        </div>
    </div>
    <hr class="hr">

    <div class="st-payment-subscript">
        <div class="sub-title">
            주문 상품
        </div>
        <div class="st-payment-subscript-table">
            <table>
                <tr>
                    <th class="bold-text">상품명/옵션정보</th>
                    <th class="bold-text">판매가</th>
                </tr>
                <tr>
                    <td class="table-td">스탠다드33 구독권</td>
                    <td class="table-td">33,000원</td>
                </tr>
            </table>
        </div>
    </div>

    <hr class="hr">
    <div class="st-payment-section">

        <div class="st-payment-method">
            <div class="sub-title">
                결제수단선택
            </div>
            <div class="btn-group" role="group">
                <input type="radio" class="btn-check" name="btnradio" id="pay-method-1-1" autocomplete="off" checked>
                <label class="btn btn-outline-dark st-payment-pay-method" for="pay-method-1-1">신용카드</label>

                <input type="radio" class="btn-check" name="btnradio" id="pay-method-1-2" autocomplete="off">
                <label class="btn btn-outline-dark st-payment-pay-method" for="pay-method-1-2">실시간 계좌이체</label>

                <input type="radio" class="btn-check" name="btnradio" id="pay-method-1-3" autocomplete="off">
                <label class="btn btn-outline-dark st-payment-pay-method" for="pay-method-1-3">가상계좌</label>
            </div>

            <div class="btn-group" role="group" >
                <input type="radio" class="btn-check" name="btnradio2" id="pay-method-naver" autocomplete="off" checked>
                <label class="btn btn-outline-dark st-payment-pay-method" for="pay-method-naver">
                    <img th:src="@{/img/subscription/payment_icon/i.icon-npay.png}"/>
                </label>

                <input type="radio" class="btn-check" name="btnradio2" id="pay-method-samsung" autocomplete="off">
                <label class="btn btn-outline-dark st-payment-pay-method" for="pay-method-samsung">
                    <img th:src="@{/img/subscription/payment_icon/i.icon-samsungpay.png}"/>
                </label>

                <input type="radio" class="btn-check" name="btnradio2" id="pay-method-kakao" autocomplete="off">
                <label class="btn btn-outline-dark st-payment-pay-method" for="pay-method-kakao">
                    <img th:src="@{/img/subscription/payment_icon/i.icon-kakaopay.png}"/>
                </label>

                <input type="radio" class="btn-check" name="btnradio2" id="pay-method-toss" autocomplete="off">
                <label class="btn btn-outline-dark st-payment-pay-method" for="pay-method-toss">
                    <img th:src="@{/img/subscription/payment_icon/i.icon-tosspay.png}"/>
                </label>

                <input type="radio" class="btn-check" name="btnradio2" id="pay-method-payco" autocomplete="off">
                <label class="btn btn-outline-dark st-payment-pay-method" for="pay-method-payco">
                    <img th:src="@{/img/subscription/payment_icon/i.icon-payco.png}"/>
                </label>

            </div>
            <div class="card-interest-free">카드 무이자 혜택 (?)</div>
            <hr class="hr card-interest-free-hr">

        </div>

        <div class="st-payment-money">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">최종결제금액</h5>
                </div>
                <hr class="hr">
                <div class="card-body price-section" >
                    <div class="price">
                        <div class="sum-price-name bold-text">
                            총 판매가
                        </div>
                        <div class="sum-price-num">
                            33,000원
                        </div>
                    </div>
                    <hr class="hr price-hr">
                    <div class="price">
                        <div class="price-name">
                            판매가
                        </div>
                        <div class="price-num">
                            33,000원
                        </div>
                    </div>
                </div>

                <div class="card-body final-price">
                    <div class="final-price-name">
                        최종결제금액
                    </div>
                    <div class="final-price-num text-lg bold-text">
                        33,000원
                    </div>
                </div>
                <div class="card-body">
                    <input type="checkbox" class="agreement-checkbox">
                    <span class="bold-text">[필수] 주문내역 확인/동의</span>
                    </span>

                    <div class="card-body">
                        <button class="payment-button" th:color="white">결제 하기</button>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>

</body>
</html>
