<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>L-Life UserGuide</title>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/subscription/subscription_guide.css}"/>
</head>
<body>
    <section>
        <div class="main-top-slide ">
            <th:block th:replace="common/fragment/header/header :: headerFragment(0)"></th:block>
            <th:block th:replace="common/fragment/header/sub_header :: subHeaderFragment(0)"></th:block>
        </div>
    </section>
    
    <section class="hd__inner1100">
        <div class="img-container">
            <img alt="리바트 가이드 이용 가이드 01" th:src="@{/img/subscription/guide01.png}"/>
        </div>
        <div class="img-container">
            <img alt="리바트 가이드 이용 가이드 02" th:src="@{/img/subscription/guide02.png}"/>
        </div>
        <div class="btn-container">
            <a href="#" class="btn">스탠다드 멤버십 가입하러 가기 ></a>
        </div>
        <div class="img-container">
            <img alt="리바트 가이드 이용 가이드 03" th:src="@{/img/subscription/guide03.png}"/>
        </div>
        <div class="btn-container">
            <a href="#" class="btn">프리미엄 멤버십 가입하러 가기 ></a>
        </div>
    </section>
    <th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>
</body>
</html>