<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/fragment/commonHead"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/subscription/subscription_select.css}"/>
</head>
<body>

<div class="lf-st-contianer hd__inner1100">
    <div class="lf-st-container-inner">
        <div class="card">
            <div class="card-body">
                <div class="card-title title-text">스탠다드 33</div>
                <button class="price-button">\33,000/월</button>
                <hr class="hr card-hr">
            </div>

            <div class="card-body card-coin">
                <div>
                    <img th:src="@{/img/subscription/coin/coin5.png}"/>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="card-title title-text">스탠다드 33</div>
                <button class="price-button">\33,000/월</button>
                <hr class="hr card-hr">
            </div>

            <div class="card-body card-coin">
                <div>
                    <img th:src="@{/img/subscription/coin/coin5.png}"/>
                </div>
            </div>
        </div>
    </div>


    <!--    <div class="card-out">-->
    <!--        <div class="card">-->
    <!--            <div class="card-body">-->
    <!--                <div class="card-title title-text">스탠다드 55</div>-->
    <!--                <button class="price-button">\55,000/월</button>-->
    <!--                <hr class="hr card-hr">-->
    <!--            </div>-->

    <!--            <div class="card-body card-coin">-->
    <!--                <div>-->
    <!--                    <img th:src="@{/img/subscription/coin/coin10.png}"/>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->
</div>



</body>
</html>
