html{
    position:relative;
}
header{
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 40px 20px 0px 20px !important;
    position: absolute;
    top: 0;
    z-index: 100000;
    margin: 0 auto;
    width: 100%;
}

.header-selected {
    font-weight: bold;
    color : #5d493c !important;
    font-size: 24px !important;
}
.text-white{
    color:white;
}
.text-black{
    color:black;
}
.border-white{
    border: 2px solid #fff;
}
.border-black{
    border: 2px solid black;
}
.header-main{
    display: flex;
    justify-content: space-between;
    /*color: white;*/
}
.header-logo{
    position: relative;
    z-index: 11;
}
.header-logo img{
    width:auto;
    height: 50px;
}

.header-search{
    display: flex;
    justify-content: center;
    width: 50%;
}
.header-search>form{
    width: 50%;
}
.header-search>form>input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 15px;
    border-radius: 20px;
    color: inherit;
    border: 1px solid;
}
.header-user{
    display: flex;
    position: absolute;
    right: 100px;
}
.header-user >  li{
    list-style: none;
    margin-right: 15px;
}
.header-user a {
    text-decoration: none;
    color: inherit;
}

.header-user a:hover {
    text-decoration: none;
    color: inherit;
}