.sub-cate-header{
    width: 100%;
    position: absolute;
    top: 155px;
    display: flex;
    padding: 8px 20px 0px 20px;
    flex-direction: column;
    /* font-size: 2px; */
    margin-bottom: 10px;
    justify-content: center;
    z-index: 100000;

}
.sub-cate-header-main li{
    list-style: none;
    margin-right: 15px;
    display: inline-block;
    font-size: 22px;
}
.sub-cate-header *{
    text-decoration: none;
    color: #967E76;
    /*text-shadow:*/
    /*        -0.5px -0.5px 0 #967E76,*/
    /*        0.5px -0.5px 0 #967E76,*/
    /*        -0.5px 0.5px 0 #967E76,*/
    /*        0.5px 0.5px 0 #967E76;*/
}

.sub-cate-header *:hover{
    text-decoration: none;
    color: #967E76;
}


#menu li a:hover{
    color: #333333;
    transform:scale(1.1);
}

.cate-header-selected {
    font-weight: bold;
    color : #333333 !important;
    font-size: 22px !important;
}