<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="mypageSidebarFragment()">
    <link rel="stylesheet" th:href="@{/css/common/sidebar/mypage_side.css}">

    <div>
        <div class="username"><span th:text="${session.loggedInMemberInfo.mName}"></span>님</div>

        <ul class="mypage-menu">
            <li class = "mypage-text"><a href="#">마이페이지</a></li>
            <div class="hr"></div>
            <li class="header-title">주문정보
                <ul>
                    <li class = "header-list"><a href="/l-life/member/1/mypage/delivery">주문/배송 조회</a></li>
                </ul>
            </li>
            <li class="header-title">구독
                <ul>
                    <li class = "header-list"><a href="/l-life/member/1/mypage/cart">장바구니</a></li>
                    <li class = "header-list"><a href="/l-life/member/1/mypage/standard">스탠다드 구독</a></li>
                    <li class = "header-list"><a href="/l-life/member/1/mypage/premium">프리미엄 구독</a></li>
                </ul>
            </li>
            <li class="header-title">관심상품관리
                <ul>
                    <li class = "header-list"><a href="/l-life/member/mypage">찜한 상품</a></li>
                    <li class = "header-list"><a href="#">재입고 알림</a></li>
                </ul>
            </li>
            <li class="header-title">커뮤니티활동
                <ul>
                    <li class = "header-list"><a href="#">등록한 스토리</a></li>
                    <li class = "header-list"><a href="#">관심 스토리</a></li>
                </ul>
            </li>
            <li class="header-title">회원정보
                <ul>
                    <li class = "header-list"><a href="#">회원정보 수정</a></li>
                    <li class = "header-list"><a href="#">쿠폰/eco마일리지</a></li>
                </ul>
            </li>
            <li class="header-title">고객센터
                <ul>
                    <li class = "header-list"><a href="#">공지사항</a></li>
                    <li class = "header-list"><a href="#">자주묻는질문</a></li>
                </ul>
            </li>
        </ul>
    </div>
</th:block>
</html>
