<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community NewSpace</title>
    <th:block th:replace="common/fragment/commonHead"></th:block>


    <link rel="stylesheet" th:href="@{/css/community/community_write.css}">

    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <script th:src="@{/js/community/community_write.js}" type="text/javascript"></script>

</head>
<body>
    <th:block th:replace="common/fragment/header/header :: headerFragment(0)"></th:block>

    <div class="hd__inner1400 write-header">
        <div class="community_write-title">LIVART-BOOK 만들기</div>
    </div>
    <hr>
    <div class="hd__inner1100 write-guide-box">
        <div class="write-guide-title">
            <div class="write-guide-title-main">리바트 북 작성 가이드</div>
            <div class="write-guide-title-sub">원활한 리바트 북 발행을 위해 꼭 읽어주세요.</div>
        </div>
        <div class="book">
            <div id="pages" class="pages">
                <div class="page">
                    <p><img class="book-guide-img" src="https://img-resource.s3.ap-northeast-2.amazonaws.com/NewSpace/NewSpace%2C+%EB%82%98%EB%A7%8C%EC%9D%98+%EC%9E%A1%EC%A7%80+%EB%A7%8C%EB%93%A4%EA%B8%B02.png"/></p>
                </div>
                <div class="page"><p>Hello</p></div>
                <div class="page"><p>Hello there!</p></div>
                <div class="page">
                    <p><img class="bb-item-img" src="https://d33wubrfki0l68.cloudfront.net/91ed41706514200a7ef212ebfeead7471354e622/01dcc/images/books/design-systems--large-opt.png" alt="image01"/></p>
                </div>
                <div class="page">
                    <p><img class="bb-item-img" src="https://d33wubrfki0l68.cloudfront.net/91ed41706514200a7ef212ebfeead7471354e622/01dcc/images/books/design-systems--large-opt.png" alt="image01"/></p>
                </div>
                <div class="page"><p>3</p></div>
                <div class="page"><p>3</p></div>
                <div class="page"><p>4</p></div>
                <div class="page"><p>4</p></div>
                <div class="page"><p>end</p></div>
            </div>
        </div>

    </div>

    <div class="hd__inner1100 write-box">
        <div class="write-box-slider">

                <div class="write-slide-wrapper">
                    <div class="write-container">
                        <div class="left-container">
                            <div class="upload-box">
                                <div  class="drag-file">
                                    <img class="upload-file-1 ex-image" src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
                                         alt="파일 아이콘">
                                    <p class="message">Files to upload</p>
                                    <span> 사진을 선택하여 업로드 해주세요. </span>
                                </div>
                            </div>
                            <div class="imgBtn-box">
                                <input type="file" id="imgUpload01" onchange="displayImage(this,1)" style="display:none;">
                                <label class="imgUploadLabel" for="imgUpload01">이미지 업로드</label>
                                <button class="Ai-Img-btn" onclick="">AI 이미지 생성</button>
                            </div>
                        </div>
                        <div class="center-container">

                        </div>
                        <div class="right-container">
                            <div class="input-group">
                                <input type="text"placeholder="제목을 입력해주세요.">
                            </div>
                            <div class="input-group">
                                <textarea rows="6" placeholder="내용을 입력해주세요."></textarea>
                            </div>
                            <div class="input-group">
                                <input type="text" placeholder="태그를 입력해주세요.">
                            </div>
                            <div class="input-group">
                                <select id="category-1" name="category">
                                    <option value="0">카테고리 선택</option>
                                    <option value="1">소파</option>
                                    <option value="2">테이블</option>
                                    <option value="3">조명</option>
                                    <option value="4">의자</option>
                                    <option value="5">침대</option>
                                    <option value="6">수납</option>
                                </select>
                                <select id="product-1" name="product">
                                    <option value="기본값">선택해주세요</option>
                                    <option value="가구1">리바트가구1</option>
                                </select>
                            </div>
                            <div class="input-ai-image">
                                <img src="https://cdn.aitimes.com/news/photo/202212/148277_156620_111.png">
                            </div>
<!--                            <div class="input-page">-->
<!--                                1페이지 / 3페이지-->
<!--                            </div>-->
                        </div>
                    </div>

                    <div class="write-container">
                        <div class="left-container">
                            <div class="upload-box">
                                <div  class="drag-file">
                                    <img class="upload-file-2 ex-image" src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
                                         alt="파일 아이콘">
                                    <p class="message">Files to upload</p>
                                    <span> 사진을 선택하여 업로드 해주세요. </span>
                                </div>
                            </div>
                            <div class="imgBtn-box">
                                <input type="file" id="imgUpload02" onchange="displayImage(this,2)" style="display:none;">
                                <label class="imgUploadLabel" for="imgUpload02">이미지 업로드</label>
                                <button class="Ai-Img-btn" onclick="">AI 이미지 생성</button>
                            </div>
                        </div>
                        <div class="center-container">

                        </div>
                        <div class="right-container">
                            <div class="input-group">
                                <input type="text"placeholder="제목을 입력해주세요.">
                            </div>
                            <div class="input-group">
                                <textarea rows="6" placeholder="내용을 입력해주세요."></textarea>
                            </div>
                            <div class="input-group">
                                <input type="text" placeholder="태그를 입력해주세요.">
                            </div>
                            <div class="input-group">
                                <select name="category">
                                    <option value="카테고리">카테고리 선택</option>
                                    <option value="소파">소파</option>
                                    <option value="테이블">테이블</option>
                                    <option value="조명">조명</option>
                                    <option value="의자">의자</option>
                                    <option value="침대">침대</option>
                                    <option value="수납">수납</option>
                                </select>
                                <select>
                                    <option value="기본값">선택해주세요</option>
                                    <option value="가구1">리바트가구1</option>
                                </select>
                            </div>
                            <div class="input-ai-image">
                                <img src="https://cdn.aitimes.com/news/photo/202212/148277_156620_111.png">
                            </div>
<!--                            <div class="input-page">-->
<!--                                2페이지 / 3페이지-->
<!--                            </div>-->
                        </div>
                    </div>
                    <div class="write-container">
                        <div class="left-container">
                            <div class="upload-box">
                                <div  class="drag-file">
                                    <img class="upload-file-3 ex-image" src="https://img.icons8.com/pastel-glyph/2x/image-file.png"
                                         alt="파일 아이콘">
                                    <p class="message">Files to upload</p>
                                    <span> 사진을 선택하여 업로드 해주세요. </span>
                                </div>
                            </div>
                            <div class="imgBtn-box">
                                <input type="file" id="imgUpload03" onchange="displayImage(this,3)" style="display:none;">
                                <label class="imgUploadLabel" for="imgUpload03">이미지 업로드</label>
                                <button class="Ai-Img-btn" onclick="">AI 이미지 생성</button>
                            </div>
                        </div>
                        <div class="center-container">

                        </div>
                        <div class="right-container">
                            <div class="input-group">
                                <input type="text"placeholder="제목을 입력해주세요.">
                            </div>
                            <div class="input-group">
                                <textarea rows="6" placeholder="내용을 입력해주세요."></textarea>
                            </div>
                            <div class="input-group">
                                <input type="text" placeholder="태그를 입력해주세요.">
                            </div>
                            <div class="input-group">
                                <select name="category">
                                    <option value="카테고리">카테고리 선택</option>
                                    <option value="소파">소파</option>
                                    <option value="테이블">테이블</option>
                                    <option value="조명">조명</option>                                    <option value="조명">조명</option>
                                    <option value="의자">의자</option>
                                    <option value="침대">침대</option>
                                    <option value="수납">수납</option>
                                </select>
                                <select>
                                    <option value="기본값">선택해주세요</option>
                                    <option value="가구1">리바트가구1</option>
                                </select>
                            </div>
                            <div class="input-ai-image">
                                <img src="https://cdn.aitimes.com/news/photo/202212/148277_156620_111.png">
                            </div>
<!--                            <div class="input-page">-->
<!--                                3페이지 / 3페이지-->
<!--                            </div>-->
                        </div>
                    </div>

                </div>
            <div class="current-page-num">1페이지 / 3페이지</div>
            <div class="input-btn">
                <button class="show-prev">이전 페이지</button>
                <button class="show-next">다음 페이지</button>
            </div>
        </div>
        <div class="button-container">
            <button class="back-btn"><a th:href="@{/community/main}">돌아가기</a></button>
            <button class="submit-btn">작성하기</button>
        </div>
    </div>
<th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>

</body>
</html>