<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>L-Life Community</title>
    <th:block th:replace="common/fragment/commonHead"></th:block>

    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/css/community/community_main.css}"/>
    <script th:src="@{/js/community/community_main.js}" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- slick 사용을 위함.  -->
    <script
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


    <body>

    <!-- 헤더 프래그먼트 삽입 -->
    <th:block th:replace="common/fragment/header/header::headerFragment(0)"></th:block>

    <!-- 서브 헤더 프래그먼트 삽입 -->
    <th:block th:replace="common/fragment/header/sub_header::subHeaderFragment(0)"></th:block>

    <!-- 커뮤니티 배너 부분 -->
    <div class="swiper-container community_main">
        <div class="swiper-wrapper">
            <!-- 첫 번째 배너 -->
            <div class="swiper-slide">
                <div class="community-top-banner-1">
                    <div class="community-main-content hd__inner1400">
                        <div class="first-title"> 🌟 인테리어 스토리 공유 🌟</div>
                        <div class="second-title">가구 구독의 순간들을<br>Livart Book으로 특별하게!</div>
                        <div class="third-title">GPT & Karlo의 도움으로 나만의 공간을 빛내보세요.🎨</div>
                        <a class="book-make-button" th:href="@{/community/write}"> Livart Book 만들기 </a>
                    </div>
                    <img class="community-img" alt="커뮤니티 배너 1" th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/livatist/dggdt.png}"/>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="community-top-banner-2">
                    <div class="community-main-content hd__inner1400">
                        <div class="first-title-2">🔍 Vision AI로 공간 재발견 🔍</div>
                        <div class="second-title">스마트한 분석, <br> 실내의 모든 것을 한눈에!</div>
                        <div class="third-title-2">가구부터 색상까지, 완벽한 인테리어 추천을 받아보세요.</div>
                        <a class="book-make-button urbanbase" th:href="@{/community/report}"> 스타일 분석 시작하기 </a>
                    </div>
                    <img class="community-img-2" alt="커뮤니티 배너 2" th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/banner/%E1%84%87%E1%85%A2%E1%84%82%E1%85%A5%E1%84%8B%E1%85%A6+%E1%84%83%E1%85%B3%E1%86%AF%E1%84%8B%E1%85%A5%E1%84%80%E1%85%A1%E1%86%AF+%E1%84%89%E1%85%A1%E1%84%8C%E1%85%B5%E1%86%AB+(1).gif}"/>
                    <img class="community-img-3" alt="커뮤니티 배너 2" th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/Character/KakaoTalk_Photo_2023-09-25-14-05-47-1.png}"/>
                </div>
            </div>
        </div>
    </div>


    <!-- 리바티스트 부분 -->
    <section class="livatist-main hd__inner1400">
        <div class="livatist-main-title">
            <span class="first-livatist">새로운</span>
            <span class="second-livatist">리바티스트들</span>
            <span class="third-livatist">과 가구의 새로움을 알아보세요</span>
        </div>
        <div class="livatist-person">
            <a href="https://www.instagram.com/p/Cw1Z17_Jh6_/?img_index=7">
                <img class="livatist" alt="리바티스트 사진1 " th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/livatist/KakaoTalk_20230809_112743260.jpg}"/>
            </a>
            <a href="https://blog.naver.com/PostView.naver?blogId=hd_livart&logNo=220773044948">
                <img class="livatist" alt="리바티스트 사진2 " th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/livatist/%E1%84%87%E1%85%A1%E1%86%A8%E1%84%8C%E1%85%AE%E1%84%8B%E1%85%AF%E1%86%AB.jpeg}"/>
            </a>
            <img class="livatist" alt="리바티스트 사진3 " th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/livatist/%E1%84%89%E1%85%B3%E1%86%BC%E1%84%8C%E1%85%AE.png}"/>
            <img class="livatist" alt="리바티스트 사진4 " th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/livatist/%E1%84%92%E1%85%A9%E1%86%BC%E1%84%89%E1%85%A5%E1%86%A8%E1%84%92%E1%85%A7%E1%86%AB.jpg}"/>
            <img class="livatist" alt="리바티스트 사진5 " th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/livatist/233AA112-BBCE-4E50-8344-329402D14C19_1_105_c.jpeg}"/>
            <img class="livatist" alt="리바티스트 사진6 " th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/livatist/143076A6-9946-4AFC-8602-22D7B801540F_1_105_c.jpeg}"/>
            <img class="livatist" alt="리바티스트 사진7 " th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/livatist/KakaoTalk_Photo_2023-09-18-12-20-43.jpeg}"/>
        </div>
    </section>

    <!-- 메가진 부분 -->
    <section class="styling-main hd__inner1400">
        <div class="styling-main-title">
            <span class="first-styling">함께하는 집테리어들의</span>
            <span class="second-styling">"Livart Book"</span>
        </div>
        <div class="styling-main-content book-swiper">
            <div class="swiper-wrapper book-swiper-wrapper">
            <div class="swiper-slide image-box" th:id="'image-box-'+${iterStat.index}" th:each="book, iterStat : ${books}" th:if="${iterStat.index} < 10">
                <input id="bookId" type="hidden" th:value="${book.bookId}">
<!--                <img class="book-image" th:id="'book-image'+ ${iterStat.index}" alt="메가진 사진" th:src="${book.bookMainImg}" th:onclick="showBook([[${iterStat.index}]])"/>-->
                <img class="book-image"
                     th:id="'book-image'+ ${iterStat.index}"
                     alt="메가진 사진"
                     th:src="${book.bookMainImg != null && !book.bookMainImg.isEmpty() ? book.bookMainImg : 'https://img-resource.s3.ap-northeast-2.amazonaws.com/L-life-Package/PK_%E1%84%8C%E1%85%A9%E1%86%B8%E1%84%8B%E1%85%B3%E1%86%AB%E1%84%80%E1%85%A9%E1%86%BC%E1%84%80%E1%85%A1%E1%86%AB%E1%84%8C%E1%85%A6%E1%84%91%E1%85%AE%E1%86%B7.jpeg'}"
                     th:onclick="showBook([[${iterStat.index}]])"/>
            </div>
            </div>
        </div>
    </section>

    <!-- 북 -->
    <section class="book-main hd__inner1400">
        <div class="book-main-deco">
            <div class="book-main-title">가구 구독의 모든 순간, <br> 당신만의 플립북에 담아보세요 🛋️✨</div>
            <div class="book-main-subtitle">
                지금, <span th:text="${books.get(0).pages.get(0).bpTitle}" class="highlighted-text"></span>의 페이지들 속에서 당신만의 스타일을 발견해보세요.
            </div>
            <div class="characters">
                <img class="character-1" alt="캐릭터 사진" th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/Character/Character_bigman.png}"/>
                <img class="character-2" alt="캐릭터 사진" th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/Character/character_img9.png}"/>
            </div>
        </div>
        <div class="book">
            <img class="character-3" alt="캐릭터 사진" th:src="@{https://img-resource.s3.ap-northeast-2.amazonaws.com/Character/character_img4.png}">
            <div id="pages" class="pages">
                <div class="page page0"></div>
                <!-- 1번째 페이지 -->
                <div class="page page1-1">
                    <img class="page1-img" th:src="${books.get(0).pages.get(0).bpImg}" />
                    <div class="page-number">-1-</div>
                </div>
                <div class="page page1-2">
                    <div class="page-title" th:text="${books.get(0).pages.get(0).bpTitle}" ></div>
                    <img class="page-ai-img" th:src="${books.get(0).pages.get(0).bpAiImg}" />
                    <div class="page-ai-content" th:text="${books.get(0).pages.get(0).bpAiContent}" ></div>
                    <div class="page-content" th:text="${books.get(0).pages.get(0).bpContent}" ></div>
                    <div class="page-number">- 2 -</div>
                </div>
                <!-- 2번째 페이지 -->
                <div class="page page2-1">
                    <div class="page2-data">
                        <div class="page2-title" th:text="${books.get(0).pages.get(1).bpTitle}" ></div>
                        <div class="page2-content" th:text="${books.get(0).pages.get(1).bpContent}" ></div>
                    </div>
                    <img class="page2-ai-img" th:src="${books.get(0).pages.get(1).bpAiImg}" />
                    <div class="page-number">- 3 -</div>
                </div>
                <div class="page page2-2">
                    <img class="page2-img" th:src="${books.get(0).pages.get(1).bpImg}" />
                    <div class="page2-ai-content" th:text="${books.get(0).pages.get(1).bpAiContent}" ></div>
                    <div class="page-number">- 4 -</div>
                </div>
                <!-- 3번째 페이지 -->
                <div class="page page3-1">
                    <img class="page3-img" th:src="${books.get(0).pages.get(2).bpImg}" />
                    <div class="page3-title" th:text="${books.get(0).pages.get(2).bpTitle}" ></div>
                    <div class="page3-content" th:text="${books.get(0).pages.get(2).bpContent}" ></div>
                    <div class="page-number">- 5 -</div>
                </div>
                <div class="page page3-2">
                    <div class="page3-ai-content" th:text="${books.get(0).pages.get(2).bpAiContent}" ></div>
                    <img class="page3-ai-img" th:src="${books.get(0).pages.get(2).bpAiImg}" />
                    <div class="page-number">- 6 -</div>
                </div>
                <!-- 4번째 페이지 -->
                <div class="page page4-1">
                    <div class="top-row">
                        <img class="product-image-left-1" th:src="${books.get(0).pages.get(0).bpImg}" alt="Image 1">
                        <img class="product-image-left-1" th:src="${books.get(0).pages.get(1).bpImg}" alt="Image 2">
                    </div>
                    <div class="bottom-row">
                        <img class="product-image-left-2" th:src="${books.get(0).pages.get(2).bpImg}" alt="Image 3">
                    </div>
                    <div class="page-number">- 7 -</div>
                </div>
                <div class="page page4-2">
                    <div class="product-introduce">🩷 플립북에서 소개한 상품 🩷</div>
                    <div class="product-container">
                        <img class="product-image product-image-0" th:src="${books.get(0).furnitures.get(0).lfImgMain}" alt="상품 메인 이미지">
                        <div class="product-details">
                            <div class="product-brand product-brand-0" th:text="${books.get(0).furnitures.get(0).lfBrandName}" ></div>
                            <div class="product-name product-name-0" th:text="${books.get(0).furnitures.get(0).lfName}" ></div>
                        </div>
                    </div>
                    <div class="product-container">
                        <img class="product-image product-image-1" th:src="${books.get(0).furnitures.get(1).lfImgMain}" alt="상품 메인 이미지">
                        <div class="product-details">
                            <div class="product-brand product-brand-1" th:text="${books.get(0).furnitures.get(1).lfBrandName}" ></div>
                            <div class="product-name product-name-1" th:text="${books.get(0).furnitures.get(1).lfName}" ></div>
                        </div>
                    </div>
                    <div class="product-container">
                        <img class="product-image product-image-2" th:src="${books.get(0).furnitures.get(2).lfImgMain}" alt="상품 메인 이미지">
                        <div class="product-details">
                            <div class="product-brand product-brand-2" th:text="${books.get(0).furnitures.get(2).lfBrandName}" ></div>
                            <div class="product-name product-name-2" th:text="${books.get(0).furnitures.get(2).lfName}" ></div>
                        </div>
                    </div>
                    <div class="page-number">- 8 -</div>
                </div>
            </div>
        </div>
    </section>

    <!-- 푸터 프래그먼트 -->
    <th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>


    <script>
        function showBook(bookNum) {
            var findIndex = '#image-box-' + bookNum;
            var bookId = $(findIndex + '> input').val();
            console.log("북아이디" + bookId);

            var data = {
                bookId: bookId
            }

            $.ajax({
                url: '/l-life/api/v1/community/book/' + bookId,
                type: 'GET',
                data: data,
                success: function(response) {
                    console.log(response);
                    console.log(response.result.furnitures)

                    // bpTitle 값을 span 태그로 감싸서 색상을 변경
                    var highlightedBpTitle = '<span class="highlighted-text">' + response.result.pages[0].bpTitle + '</span>';
                    // 문자열 템플릿으로 전체 텍스트 구성
                    var subtitleText = '지금, ' + highlightedBpTitle + '의 페이지들 속에서 당신만의 스타일을 발견해보세요.';
                    $(".book-main-subtitle").html(subtitleText);


                    // 1번째 페이지 업데이트
                    $(".page1-img").attr("src", response.result.pages[0].bpImg);
                    $(".page-title").text(response.result.pages[0].bpTitle);
                    $(".page-ai-img").attr("src", response.result.pages[0].bpAiImg);
                    $(".page-ai-content").text(response.result.pages[0].bpAiContent);
                    $(".page-content").text(response.result.pages[0].bpContent);
                    // 2번째 페이지 업데이트
                    $(".page2-title").text(response.result.pages[1].bpTitle);
                    $(".page2-content").text(response.result.pages[1].bpContent);
                    $(".page2-ai-img").attr("src", response.result.pages[1].bpAiImg);
                    $(".page2-img").attr("src", response.result.pages[1].bpImg);
                    $(".page2-ai-content").text(response.result.pages[1].bpAiContent);
                    // 3번째 페이지 업데이트
                    $(".page3-img").attr("src", response.result.pages[2].bpImg);
                    $(".page3-title").text(response.result.pages[2].bpTitle);
                    $(".page3-content").text(response.result.pages[2].bpContent);
                    $(".page3-ai-content").text(response.result.pages[2].bpAiContent);
                    $(".page3-ai-img").attr("src", response.result.pages[2].bpAiImg);
                    // 4번째 페이지 업데이트
                    $(".page4-1 .top-row .product-image-left-1").eq(0).attr("src", response.result.pages[0].bpImg);
                    $(".page4-1 .top-row .product-image-left-1").eq(1).attr("src", response.result.pages[1].bpImg);
                    $(".page4-1 .bottom-row .product-image-left-2").attr("src", response.result.pages[2].bpImg);
                    for (let i = 0; i < 3; i++) {
                        $(".product-image-" + i).attr("src", response.result.furnitures[i].lfImgMain);
                        $(".product-brand-" + i).text(response.result.furnitures[i].lfBrandName);
                        $(".product-name-" + i).text(response.result.furnitures[i].lfName);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }


        var pages = document.getElementsByClassName('page');
        for (var i = 0; i < pages.length; i++) {
            var page = pages[i];
            if (i % 2 === 0) {
                page.style.zIndex = (pages.length - i);
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            for (var i = 0; i < pages.length; i++) {
                pages[i].pageNum = i + 1;
                pages[i].onclick = function() {
                    if (this.pageNum % 2 === 0) {
                        this.classList.remove('flipped');
                        this.previousElementSibling.classList.remove('flipped');
                    } else {
                        this.classList.add('flipped');
                        this.nextElementSibling.classList.add('flipped');
                    }
                }
            }

            // 1페이지와 2페이지를 flipped 상태로 만들어 2,3페이지가 바로 보이게 함
            if (pages[0] && pages[1]) {
                pages[0].classList.add('flipped');
                pages[1].classList.add('flipped');
            }
        });


        const swiper = new Swiper('.swiper-container', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            draggable: true,
            resistance: true,
            resistanceRatio: 0.85,
        });
    </script>
</body>
</html>



