<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community NewSpace</title>
    <th:block th:replace="common/fragment/commonHead"></th:block>


    <link rel="stylesheet" th:href="@{/css/community/community_write.css}">

    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <script th:src="@{/js/community/community_write.js}" type="text/javascript"></script>

</head>
<body>
    <th:block th:replace="common/fragment/header/header :: headerFragment(0)"></th:block>

    <div class="hd__inner1400 write-header">
        <div class="community_write-title">LIVART-BOOK 만들기</div>
    </div>
    <hr>
    <div class="hd__inner1100 write-guide-box">
        <div class="write-guide-title">
            <div class="write-guide-title-main">리바트 북 작성 가이드</div>
            <div class="write-guide-title-sub">원활한 리바트 북 발행을 위해 꼭 읽어주세요.</div>
        </div>
        <div class="book">
            <div id="pages" class="pages">
                <div class="page"><p>Open Me, <br>please!</p></div>
                <div class="page"><p>Hello</p></div>
                <div class="page"><p>Hello there!</p></div>
                <div class="page">
                    <p><img class="bb-item-img" src="https://d33wubrfki0l68.cloudfront.net/91ed41706514200a7ef212ebfeead7471354e622/01dcc/images/books/design-systems--large-opt.png" alt="image01"/></p>
                </div>
                <div class="page">
                    <p><img class="bb-item-img" src="https://d33wubrfki0l68.cloudfront.net/91ed41706514200a7ef212ebfeead7471354e622/01dcc/images/books/design-systems--large-opt.png" alt="image01"/></p>
                </div>
                <div class="page"><p>3</p></div>
                <div class="page"><p>3</p></div>
                <div class="page"><p>4</p></div>
                <div class="page"><p>4</p></div>
                <div class="page"><p>end</p></div>
            </div>
        </div>

    </div>

    <div class="hd__inner1100 write-box">
        <div class="showroom-box-slider">
            <i class="fas fa-chevron-left show-prev"></i>
            <i class="fas fa-chevron-right show-next"></i>
                <div class="showroom-slide-wrapper">
                    <div class="write-container">
                        <div class="left-container">
                            <input type="file" name="inputFile"
                                   multiple="multiple"
                                   data-type="imgMedia" accept="image/*,video/*">
                        </div>
                        <div class="center-container">

                        </div>
                        <div class="right-container">
                            <div class="input-group">
                                <input type="text"placeholder="제목을 입력해주세요.">
                            </div>
                            <div class="input-group">
                                <textarea rows="6" placeholder="내용을 입력해주세요."></textarea>
                            </div>
                            <div class="input-group">
                                <input type="text" placeholder="태그를 입력해주세요.">
                            </div>
                        </div>
                    </div>

                    <div class="write-container">
                        <div class="left-container">
                            <input type="file" name="inputFile"
                                   multiple="multiple"
                                   data-type="imgMedia" accept="image/*,video/*">
                        </div>
                        <div class="center-container">

                        </div>
                        <div class="right-container">
                            <div class="input-group">
                                <input type="text"placeholder="제목을 입력해주세요.">
                            </div>
                            <div class="input-group">
                                <textarea rows="6" placeholder="내용을 입력해주세요."></textarea>
                            </div>
                            <div class="input-group">
                                <input type="text" placeholder="태그를 입력해주세요.">
                            </div>
                        </div>
                    </div>
                    <div class="write-container">
                        <div class="left-container">
                            <input type="file" name="inputFile"
                                   multiple="multiple"
                                   data-type="imgMedia" accept="image/*,video/*">
                        </div>
                        <div class="center-container">

                        </div>
                        <div class="right-container">
                            <div class="input-group">
                                <input type="text"placeholder="제목을 입력해주세요.">
                            </div>
                            <div class="input-group">
                                <textarea rows="6" placeholder="내용을 입력해주세요."></textarea>
                            </div>
                            <div class="input-group">
                                <input type="text" placeholder="태그를 입력해주세요.">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="button-container">
            <button class="submit-btn">작성하기</button>
        </div>
    </div>
<th:block th:replace="common/fragment/footer/footer :: footerFragment()"></th:block>

</body>
</html>