<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
</head>
<body>

<!-- 헤더 프래그먼트 삽입 -->
<th:block th:replace="common/fragment/header::headerFragment()"></th:block>

<div class="container">
    <main>
        <!-- 사이드바 프래그먼트 삽입 -->
        <section class="mypage-sidebar">
            <th:block th:replace="common/fragment/mypage_side::mypageSidebarFragment()"></th:block>
        </section>

        <!-- 주 내용 영역 -->
        <section class="mypage-content">
            <!-- 회원 정보, 주문 배송 현황 -->
            <th:block th:replace="common/fragment/mypage_user::mypageUserFragment()"></th:block>
        </section>
    </main>
</div>

<!-- 푸터 프래그먼트 -->
<th:block th:replace="common/fragment/footer :: footerFragment()"></th:block>
</body>
</html>
